/** Standart element Style **/
html { /*TODO : find a better way for smooth scrolling (not wellsuported)*/
  scroll-behavior: smooth;
}
body {
  background-color: #212121;
  background-image: url(/pics/light-bulb.svg);
  background-repeat: no-repeat;
  background-position: 50% -100px;
  background-size:1280px 1148px;
  background-attachment: fixed;
  margin: 0;
}

section {
  padding-top: 60px;
  text-align: center;
  color: #212121;
}

footer {
/*  bottom: 0;*/
  background-color: black;
  color: white;
}

nav {
  z-index: 100;
}
nav ul
{
  list-style-type: none;
  margin: 0px 0px 0px 0px;
}
nav li
{
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
nav li a
{
  font-size: 1.3em;
  position: relative;
  height: 100%;
  color: inherit;
  text-decoration: none;
}
p
{
  font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility;
}
h1
{
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 2em;
  color: #FFA420;
}
h2
{
  font-family: 'Open Sans', sans-serif;
}

/** General Purpose Position elelment Style **/
.left {
 float: left;
}

.right {
  float: right;
}

.middle-right {
  width: 45%;
  text-align: right;
  display: inline-block;
}

.middle-left {
  width: 45%;
  text-align: left;
  display: inline-block;
}

.vertical-text {
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/** Custom element Style **/
#Welcome { /*stinky banner*/
  width: 650px;
  background-color: transparent;
  color: white;
  position: fixed;
  min-height: 0px;
  z-index: -1;
  right: 50%;
  transform: translate(50%);
  font: normal 8em  'Signika Negative';
}
#Welcome div.middle-left{
  font: normal 220px 'Stalemate', cursive;
  font-size: 6cm;
  text-align: center;
}
.first { /*TODO:Should not exist we shoumd have a proper banner*/
  margin-top: 380px;
}

/*tricky button for slide-content*/
.slide-content button {
  background-color: white;
  position: absolute;
}
button.left-arrow{
  opacity: 0.5;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 60px solid black;
  top:50%;
  left: 0%;
  transform: translate(0%,-50%);
}
button.left-arrow:hover{
  opacity: 0.3;
}
button.left-arrow:active{
    opacity: 0.5;
    border-right: 60px solid #FFA420;
}
button.right-arrow{
  opacity: 0.5;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid black;
  top: 50%;
  right: 0%;
  transform: translate(0%,-50%);
}
button.right-arrow:hover{
  opacity: 0.3;
}
button.right-arrow:active{
  opacity: 0.7;
  border-left: 60px solid #FFA420;
}
.up-arrow{
  opacity: 0.7;
  border-bottom: 15px solid white;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: relative;
  top:30%;
  left: 50%;
  height: 0px;
  width: 0px;
  transform: translate(-50%,0%);
}
.up-arrow:hover{
  opacity: 1;
  border-bottom-color: #FFA420;
}
.down-arrow{
  opacity: 0.7;
  border-top: 15px solid #212121;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: relative;
  top:30%;
  left: 50%;
  height: 0px;
  width: 0px;
  transform: translate(-50%,0%);
}
.down-arrow:hover{
  opacity: 1;
  border-top-color: #FFA420;
}

/*Dotted bar for diaporama navigation*/
#scroll-bar-diapo{
  position: absolute;
  width: 60%;
  width: calc(80% - 220px);
  background-color: white;
  box-shadow: 0px 25px 25px 0px white;
  margin-left: 20%;
  padding-right: 20%;
  margin-left: calc(10% + 122.5px);
  padding-right:  calc(10% + 122.5px);
}
#angle-bar-diapo{
  height: 50%;
  display: inline-block;
  width: 40%;
  left: 10%;
  bottom: 0;
  position: absolute;
  margin-left: 107.5px;
  border-left: 15px solid black;
  border-top: 15px solid black;
  border-top-left-radius: 50px;
}
#nav-bar-diapo{
  position: relative;
  border:  15px solid black;
  background-color: white;
  width: auto;
}

#scroll-bar-diapo .round{
  position: relative;
  padding: 0;
  border-radius: 50px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  width: 75px;
  height: 75px;
  margin: 10px;
  display: inline-flex;
  opacity: 0.8;
  cursor: pointer;
}
#scroll-bar-diapo .selected{
  border-color: #e25b49;
  opacity: 1;
}
#scroll-bar-diapo .round:hover{
  opacity: 0.7;
  border-color: #e25b49;
}
#scroll-bar-diapo button.round:active{
  opacity: 0.7;
}
/*footer's legal mention style*/
#legal{
  text-align: center;
  height: 50px;
  width: 100%;
  line-height: 50px;
  vertical-align: middle;
}
#legal p{
  margin: 0px;
}

 /** Slide Management section**/
.slide-content {
  background-color: white;
  text-align: center;
  z-index: 10;
  /*max-width: 1780px; /* need to be change in .scroll-up-button-daddy */
  margin-left: auto;
  margin-right: auto;
  min-height: 553px;
  max-height: 1106px;
  min-height: 85vh;
  display: inline-block;
  width: 100%;
  position: relative;
  overflow: hidden; /*avoid overflows for stuf like dipo*/
}
.slide-content h1 {
  /*font-size: 2em;
  color: #FFA420;*/
}

.slide-content p {
  font-size: 1em;
  text-align: justify;
}

.slide-content img {
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/*For those who want a left and right kind of diposition*/
.slide-left {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(0%, -50%);
  width: 45%;
  height: 100%;
  margin-right: 20px;
  padding-left: 20px;
  text-align: left;
  max-width: 880px;
}
.slide-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  width: 45%;
  height: 100%;
  text-align: right;
  max-width: 880px;
  margin-left: 20px;
  padding-right: 10px;
}
.slide-right img{
  text-align: center;
}

/*scrol up/down button tricky code*/
.scroll-down-button {
  height: 42px;
  background-image: url(/pics/slide-button.png);
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position:top;
  background-size: contain;
}
.scroll-up-button-daddy {
  overflow-x: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: 40px;
  /*max-width: 1780px; /* need to be change in .slide-content */
}
.scroll-up-button {
  height: 40px;
  background-image: url(/pics/slide-up-button.png);
  width: 463px;
  margin: auto;
  background-repeat: no-repeat;
  background-position:top;
  background-size: contain;
  border-left: 9999px solid white;
  border-right: 9999px solid white;
  position: absolute;
  left: -9999px;
  right: -9999px;
}

.diapo-text {
  display: block;
  min-width: 300px;
  height: 80%;
  padding-left: 150px;
  border-left: 15px solid black;
  margin-left: 107.5px;
  margin-top: -280px;
  margin-bottom: -130px;
  padding-right: 50px;
  padding-top: 150px;
}
.diapo-logo{
  height: 200px;
  width: 200px;
  border: 15px solid black;
  border-radius: 200px;
  display: inline-block;
  position: sticky;
  top: 10%;
  text-align: center;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 100px;
}
.diapo-logo img{
  position: relative;
  left: auto;
  transform: translate(0,-50%);
  max-height: 80%;
  max-width: 80%
}


/*people Management section */
#people-exit{
  width: 100%;
  height: 100%;
  /*padding-top: 20px;*/
  visibility: hidden;
  position: absolute;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);
}

#people-exit.opened{
  background-color: #212121;
  visibility: visible;
  opacity: 0.7;
  position: absolute;
}
.vip{
  visibility: visible;
  padding: 10px;
  width: 210px;
  background-color: white;
  text-align: center;
  margin: 10px;
  display: inline-block;
  border-radius: 30px;
  overflow: hidden;
  transition-property: none;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);
}
.vip:hover{
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.6) inset;
}
.vip.opened{
  height: 500px;
  width: 60%;
  text-align: left;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  transition-property: width;
}
.vip.opened:hover{
  box-shadow: none;
}
.name{
  text-align: left;margin: 5px;
}
.vip h1{
  font-size: 1.2em;
  margin: 0;
}
.vip h2{
  font-size: 0.8em;
  margin: 0;
}
img.pics{
  transform: none;
  position: static;
  height: 190px;
  width: 190px;
  border: 10px solid #e33528;
  border-radius: 200px;
  display: inline-block;
}
.vip.opened img.pics{
  display: block;
}
.name{
  display: inline-block;
}
.vip.opened .name{
  display: block;
  top: 10px;
  position: absolute;
  left: 240px;
  z-index: 10;
  font-size: 1.6em;
}
.vip.opened .name h1{
  display: inline-block;
}
.vip.opened .name h2{
  display: inline-block;
  font-size: 0.9em;
}

.profileLinks{
  display: inline-block;
}
.profileLinks p{
  display: none;
}
.profileLinks p{
  display: none;
  color: #212121;
}

.vip.opened .profileLinks p{
  display: inline-block;
  margin: 0;
  line-height: 34px;
  vertical-align: bottom;
}
.logoPeople{
  height: 30px;
  width: 30px;
  display: inline-block;
  background-color: white;
  margin: 2px 2px 2px 0;
}
.vip.opened .profileLinks{
  position: absolute;
  left: 105px;
  margin-top: 20px;
  transform: translateX(-50%);
}
.bio{
  width : 0;
  height: 0;
  visibility: hidden;
  position: absolute;
  padding-top: 100px;
  padding-right: 10px;
}
.vip.opened .bio{
  width: auto;
  height: auto;
  left: 245px;
  top: 0;
  padding-top: 100px;
  padding-right: 10px;
  visibility: visible;
}
.status{
  font-size: 0.6em;
}
.vip.opened .status{
  display: block;
  top: 40px;
  position: absolute;
  left: 245px;
  z-index: 10;
}
.profileLinks-daddy{
  display: inline-block;

}
.vip.opened .profileLinks-daddy{
  display: block;
}
#linkedin {
  background-image: url(/pics/linkedin.png);
  display: inline-block;
  background-repeat:no-repeat;
  background-size: contain;
  vertical-align: bottom;
}
a:hover #linkedin {
  background-image: url(/pics/linkedin-hover.png);
}
#mail {
  background-image: url(/pics/mail.png);
  display: inline-block;
  background-repeat:no-repeat;
  background-size: contain;
  vertical-align: bottom;
}
a:hover #mail {
  background-image: url(/pics/mail-hover.png);
}

/**Here goes the navigations menus*/
#HorzTopNav
{
  color: #303030;;
  font-family:Arial, Helvetica, sans-serif;
  text-align: right;
  background-color: white ;
  width: 100%;
  height:40px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  box-shadow:  0px 5px 5px 0px #303030 ;
}

#websiteNav{
  margin-right: 100px;
}
#websiteNav li{
  margin-top: 5px;
  padding: 10px 5px 0px 5px;
  height: 25px;
}

#redNav:hover{
  margin-top: 0px;
  border-top: 5px solid #e25b49;
  vertical-align: bottom;
}
#redNav:active{
  color: white;
  background-color: #e25b49;
}
#redNav.selected{
  color: white;
  background-color: #e25b49;
  margin-top: 0px;
  border-top: 5px solid #e25b49;
}

#blueNav:hover{
  margin-top: 0px;
  border-top: 5px solid #50adff;
  vertical-align: bottom;
}
#blueNav:active{
  color: white;
  background-color: #50adff;
}
#blueNav.selected{
  color: white;
  background-color: #50adff;
  margin-top: 0px;
  border-top: 5px solid #50adff;
}
#IconShortcut li a div {
  width: 46px;
  height: 46px;
  /*TODO add millimiter lenght for supported browsers on every elements
  pupose being high dpi device compliancy */
  width: 12mm;
  height: 12mm;
}

/*icon management part*/
.nav-icon {
  width: 46px;
  height: 46px;
}
#home {
  background-image: url(/pics/home.png);
  display: inline-block;
  background-repeat:no-repeat;
  background-size: contain;
  vertical-align: bottom;
  width: 40px;
  height: 40px;
  padding-left: 10;
}
a:hover #home {
  background-image: url(/pics/home-hover.png);
}
#home.selected{
  background-color: #212121;
  background-image: url(/pics/home-selected.png);
}

#office {
  background-image: url(/pics/office.png);
  display: inline-block;
  background-repeat:no-repeat;
  background-size: contain;
  vertical-align: bottom;
}
li:hover #office {
  background-image: url(/pics/office-hover.png);
}
#Mail {
  background-image: url(/pics/contact.png);
  display: inline-block;
  background-repeat:no-repeat;
  background-size: contain;
  vertical-align: bottom;
}
li:hover #Mail {
  background-image: url(/pics/contact-hover.png);
}
#Team {
  background-image: url(/pics/contact.png);
  display: inline-block;
  background-repeat:no-repeat;
  background-size: contain;
  vertical-align: bottom;
}
li:hover #Team {
  background-image: url(/pics/contact-hover.png);
}
#sharepoint {
  background-image: url(/pics/sharepoint.png);
  display: inline-block;
  background-repeat:no-repeat;
  background-size: contain;
  vertical-align: bottom;
}
li:hover #sharepoint {
  background-image: url(/pics/sharepoint-hover.png);
}
#slack {
  background-image: url(/pics/slack.png);
  display: inline-block;
  background-repeat:no-repeat;
  background-size: contain;
  vertical-align: bottom;
}
li:hover #slack{
  background-image: url(/pics/slack-hover.png);
}
#gitlab {
  background-image: url(/pics/gitlab.png);
  display: inline-block;
  background-repeat:no-repeat;
  background-size: contain;
  vertical-align: bottom;
}
li:hover #gitlab {
  background-image: url(/pics/gitlab-hover.png);
}

/*Burger Menu Part*/
#Menu {
  position:fixed;
  top: 0;
  right: 10px;
  font-family:Arial, Helvetica, sans-serif;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-image: url(/pics/burger-menu.png);
  display: inline-block;
  background-repeat:no-repeat;
  background-size: contain;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.6);
}
#Menu:hover {
  background-image: url(/pics/burger-menu-hover.png);
  border-radius: 0px;
}
#Menu ul{
  padding: 10px 0px 10px 0px;
  display: inline-block;
  height: 100%;
}
#Menu:hover #MenuContainer{
  display: inline-block;
}
#Menu li{
  display: block;
  margin-bottom: 0px;
  padding: 3px;
}
#Menu li:hover{
  color: white;
  padding: 3px;
  background-color: #212121;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.6) inset;
}
#Menu li:active{
  color: #212121;
  background-color: white;
}
#Menu li div{
  display: inline-block;
}
#Menu li span{
  display: inline-block;
  width: 150px;
  text-align: left;
  padding-left: 10px;
  line-height: 46px;
}
#Menu li:hover div{
  background-color: transparent;
}
#Menu li:hover span{
  background-color: transparent;
}
#MenuContainer{
  display: none;
  position: fixed;
  top : 46px;
  right: 10px;
  background-color: white;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.6);
}
.subMenu{
  position: relative;
}
#PrivateLabel{
  position: absolute;
  width:50px;
  height: 100%;
  transform: translateX(-100%);
  background-color: #e25b49;
  color: white;
  opacity: 100;
}
#PublicLabel{
  position: absolute;
  width:50px;
  bottom: 0;
  transform: translateX(-100%);
  background-color: #50ad37;
  color: white;
  opacity: 100;
  height: 100%;
}


/** Animation Style **/

/*slide stuff*/ /*TODO: Might be better using keyframes*/
#diaporama {
  height: 80%;
  width: 80%;
  display: inline-block;
  overflow-y: scroll;
}
.diapo {
  display: inline-block;
  text-align: left;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);
}
.diapo.right{
    right: -9999px;
}
.diapo.left{
  right: 9999px;
}
.diapo.in {
  right: 0px;
}

/*fade stuff*/
@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
.fade-el {
  display: none;
}
.fade-in {
  -webkit-animation: fadeIn 1s ease-in 1 forwards;
  animation: fadeIn 1s ease-in 1 forwards;
  opacity: 0;
  color: #FFA420;
}
.fade-out {
  -webkit-animation: fadeOut .5s ease-in 1 forwards;
  animation: fadeOut .5s ease-in 1 forwards;
  opacity: 1;
  color: #FFA420;
}
