/** Standart element Style **/
body {
  background-color: #212121;
  margin: 0px;
}

section {
  padding-top: 60px;
  text-align: center;
}

/** General Purpose Position elelment Style **/
.left {
 float: left;
}

.right {
  float: right;
}

.middle-right {
  width: 45%;
  text-align: right;
  display: inline-block;
}

.middle-left {
  width: 45%;
  text-align: left;
  display: inline-block;
}

h1 {
    font-size: 7em;
    color: white;
}/** Custom element Style **/

p {
  color: white;
  font-size: 2em;
}
/*fade stuff*/
@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.fade-el {
  display: none;
}

.fade-in {
  -webkit-animation: fadeIn 1s ease-in 1 forwards;
  animation: fadeIn 1s ease-in 1 forwards;
  opacity: 0;
  color: #FFA420;
}

.fade-out {
  -webkit-animation: fadeOut .5s ease-in 1 forwards;
  animation: fadeOut .5s ease-in 1 forwards;
  opacity: 1;
  color: #FFA420;
}

#timer{
  font-size: 10em;
  color: white;
  /*width: 100%;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

#timer p{
  text-align: right;
  font-size: 0.1em;
}
.case {
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  background: #00816A;
  animation-name: okbg;
  animation-duration: .8s;
}

.clock {
  background: #00BF96;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 5px;
  animation-name: okfg;
  animation-duration: .8s;
}
.unit{
    font-size: 0.1em;
    font-family: sans-serif;
}

@keyframes okbg {
  from {background-color: #AA7208;}
    to {background-color: #00816A;}
}
@keyframes okfg {
    from {background-color: #FFA420;}
    to {background-color: #00BF96;}
}

@-webkit-keyframes warnfg {
  to {
    background-color: #FFA420;
  }
}
@-webkit-keyframes warnbg {
  to {
    background-color: #AA7208;
  }
}

@keyframes warnbg {
    to {background-color: #AA7208;}
}
@keyframes warnfg {
    to {background-color: #FFA420;}
}

.case.warn{
  /*background: #AA7208;*/
  animation-name: warnbg;
  animation-duration: .8s;
}
.clock.warn{
  /*background:#FFA420;*/
  animation-name: warnfg;
  animation-duration: .8s;
}
