/** Standart element Style **/
body {
  background-color: #212121;
  margin: 0px;
}

section {
  padding-top: 60px;
  text-align: center;
}

footer {
/*  bottom: 0;*/
  background-color: black;
  color: white;
}

nav {
  z-index: 100;
}
nav ul
{
  list-style-type: none;
  margin: 0px 0px 0px 0px;
}
nav li
{
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
nav li a
{
  font-size: 1.3em;
  position: relative;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

/** General Purpose Position elelment Style **/
.left {
 float: left;
}

.right {
  float: right;
}

.middle-right {
  width: 45%;
  text-align: right;
  display: inline-block;
}

.middle-left {
  width: 45%;
  text-align: left;
  display: inline-block;
}

/** Custom element Style **/
#Welcome { /*stinky banner*/
  width: 100%;
  background-color: #212121;
  font-size: 6em;
  color: white;
  position: fixed;
  min-height: 0px;
  max-width: none;
  z-index: -1;
  margin: auto;
  max-width: 1780px;
}
.first { /*TODO:Should not exist we shoumd have a proper banner*/
  margin-top: 200px;
}


/*tricky button for slide-content*/
.slide-content button {
  background-color: white;
  position: absolute;
}
button.left-arrow{
  opacity: 0.5;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 60px solid black;
  top:50%;
  left: 0%;
  transform: translate(0%,-50%);
}
button.left-arrow:hover{
  opacity: 0.3;
}
button.left-arrow:active{
    opacity: 0.5;
    border-right: 60px solid #FFA420;
}
button.right-arrow{
  opacity: 0.5;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid black;
  top: 50%;
  right: 0%;
  transform: translate(0%,-50%);
}
button.right-arrow:hover{
  opacity: 0.3;
}
button.right-arrow:active{
  opacity: 0.7;
  border-left: 60px solid #FFA420;
}

/*Dotted bar for diaporama navigation*/
#scroll-bar-diapo{
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%,0%);
}
#scroll-bar-diapo button.round{
  position: relative;
  padding: 0;
  border-radius: 15px;
  border-width: 15px;
  border-style: solid;
  border-color: black;
  width: 0px;
  height: 0px;
  margin: 10px;
  opacity: 0.3;
}
#scroll-bar-diapo button.selected{
  opacity: 0.7;
}
#scroll-bar-diapo button.round:hover{
  opacity: 0.7;
  border-color: #FFA420;
}
#scroll-bar-diapo button.round:active{
  opacity: 0.7;
}
/*footer's legal mention style*/
#legal{
  text-align: center;
  height: 50px;
  width: 100%;
  line-height: 50px;
  vertical-align: middle;
}
#legal p{
  margin: 0px;
}

 /** Slide Management section**/
.slide-content {
  background-color: white;
  text-align: center;
  z-index: 10;
  max-width: 1780px; /* need to be change in .scroll-up-button-daddy */
  margin-left: auto;
  margin-right: auto;
  min-height: 800px;
  display: inline-block;
  width: 100%;
  position: relative;
}
.slide-content h1 {
  font-size: 3em;
  color: #FFA420;
}

.slide-content p {
  font-size: 1.5em;
}

/*For those who want a left and right kind of diposition*/
.slide-left {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-55%, -50%);
  width: 45%;
  text-align: left;
}
.slide-right {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(55%, -50%);
  width: 45%;
  text-align: right;
}

/*scrol up/down button tricky code*/
.scroll-down-button {
  height: 42px;
  background-image: url(/pics/slide-button.png);
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position:top;
  background-size: contain;
}
.scroll-up-button-daddy {
  overflow-x: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  height: 40px;
  max-width: 1780px; /* need to be change in .slide-content */
}
.scroll-up-button {
  height: 40px;
  background-image: url(/pics/slide-up-button.png);
  width: 463px;
  margin: auto;
  background-repeat: no-repeat;
  background-position:top;
  background-size: contain;
  border-left: 9999px solid white;
  border-right: 9999px solid white;
  position: absolute;
  left: -9999px;
  right: -9999px;
}

/**Here goes the navigations menus*/
#HorzTopNav
{
  color: #303030;;
  font-family:Arial, Helvetica, sans-serif;
  text-align: right;
  background-color: white ;
  width: 100%;
  height:40px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  box-shadow:  0px 5px 5px 0px #303030 ;
}

#websiteNav{
  margin-right: 100px;
}
#websiteNav li{
  margin-top: 5px;
  padding: 10px 5px 0px 5px;
}

#contact:hover{
  margin-top: 0px;
  border-top: 5px solid #e25b49;
  vertical-align: bottom;
}
#contact:active{
  color: white;
  background-color: #e25b49;
}

#IconShortcut li a div {
  width: 46px;
  height: 46px;
}

/*icon management part*/
.nav-icon {
  width: 46px;
  height: 46px;
}
#home {
  background-image: url(/pics/home.png);
  display: inline-block;
  background-repeat:no-repeat;
  background-size: contain;
  vertical-align: bottom;
  width: 40px;
  height: 40px;
  padding-left: 10;
}
li:hover #home {
  background-image: url(/pics/home-hover.png);
}
#office {
  background-image: url(/pics/office.png);
  display: inline-block;
  background-repeat:no-repeat;
  background-size: contain;
  vertical-align: bottom;
}
li:hover #office {
  background-image: url(/pics/office-hover.png);
}
#slack {
  background-image: url(/pics/slack.png);
  display: inline-block;
  background-repeat:no-repeat;
  background-size: contain;
  vertical-align: bottom;
}
li:hover #slack{
  background-image: url(/pics/slack-hover.png);
}
#gitlab {
  background-image: url(/pics/gitlab.png);
  display: inline-block;
  background-repeat:no-repeat;
  background-size: contain;
  vertical-align: bottom;
}
li:hover #gitlab {
  background-image: url(/pics/gitlab-hover.png);
}

/*Burger Menu Part*/
#Menu {
  position:fixed;
  top: 0;
  right: 10px;
  font-family:Arial, Helvetica, sans-serif;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-image: url(/pics/burger-menu.png);
  display: inline-block;
  background-repeat:no-repeat;
  background-size: contain;
  background-color: white;
  opacity: 0.8;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.6);
}
#Menu:hover {
  background-image: url(/pics/burger-menu-hover.png);
  opacity: 0.9;
  border-radius: 0px;
}
#Menu ul{
  position: fixed;
  top : 46px;
  right: 10px;
  padding: 10px 0px 10px 0px;
  display: none;
  background-color: white;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.6);
}
#Menu:hover ul{
  display: block;
}
#Menu li{
  display: block;
  margin-bottom: 0px;
  padding: 3px;
}
#Menu li:hover{
  color: white;
  padding: 3px;
  opacity: 0.9;
  background-color: #212121;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.6) inset;
}
#Menu li:active{
  color: #212121;
  background-color: white;
}
#Menu li div{
  display: inline-block;
  opacity: 0.6;
}
#Menu li span{
  display: inline-block;
  opacity: 0.6;
  width: 150px;
  text-align: left;
  padding-left: 10px;
  line-height: 46px;
}
#Menu li:hover div{
  background-color: transparent;
  opacity: 0.9;
}
#Menu li:hover span{
  background-color: transparent;
  opacity: 0.9;
}

/** Animation Style **/

/*slide stuff*/ /*TODO: Might be smoother using keyframes*/;
.diaporama{
  overflow-x: hidden;
}

.diapo {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);
}
.diapo.right{
    right: -9999px;
}
.diapo.left{
  right: 9999px;
}
.diapo.in {
  right: 0px;
}

/*fade stuff*/
@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.fade-el {
  display: none;
}
.fade-in {
  -webkit-animation: fadeIn 1s ease-in 1 forwards;
  animation: fadeIn 1s ease-in 1 forwards;
  opacity: 0;
  color: #FFA420;
}
.fade-out {
  -webkit-animation: fadeOut .5s ease-in 1 forwards;
  animation: fadeOut .5s ease-in 1 forwards;
  opacity: 1;
  color: #FFA420;
}
