@DARKGREY: #212121;
@ORANGE:   #fcc512;
@RED: 	   #e25b49;
@GREEN:    #50ad37;
@BLUE:     #409def;
@GREY:     #303030;
@LIGHTGREY:#eeeeee;
@YELLOW:   #fcdc12;
@WHITE:    #ffffff;

@FOOTER_HEIGHT: 60px;

@HORZNAVHEIGHT : 40px;

/** Standard element style**/
html {
  position: relative;
  min-height: 100%;
}

body {
	background-attachment: fixed;
	background-color: @DARKGREY;
	//background-image: url(/pics/fond.svg);
	background-position: 50% 0;
	background-repeat: no-repeat;
	//background-size:1280px 1148px;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility;
	margin: 0;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
    margin-bottom: @FOOTER_HEIGHT;
}
section {
	color: @DARKGREY;
	padding-top: 40px;
	text-align: center;
}
footer {
	background-color: black;
	color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: @FOOTER_HEIGHT;
    line-height: @FOOTER_HEIGHT;
}

p > a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: @BLUE;
    &::after{
        transition: 0.4s;
        transition-property: all;
        content: '';
        left: 0;
        position: absolute;
        bottom: -.2em;
        width: 0;
        border-bottom: .3em solid @BLUE;
        vertical-align: bottom;
    }
    &:hover {
        color: @BLUE;
        text-decoration: none;
        &:after{
            width: 100%;
        }
    }
}
.card-item::before {
    border-top: 7px solid #e25b49;
    width: 100%;
    content: '';
    display: block;
}

.card-item::after {
    border-top: 7px solid #e25b49;
    width: 100%;
    content: '';
    display: block;
}

#HorzTopNav {
    padding: 0 1em 0 1em;
    background-color : white;
    .navbar-brand {
        padding: 0;
    }
    li {
    		position: relative;
        &::after {
            border-top: 0px solid @GREY;
            content: '';
            left: 0;
            position: absolute;
            top: 0;
            transition: 0.2s;
            width: 100%;
        }
    }
    li.selected {
        &:after {
            transition: none;
        }
    }
}
.card-item {
    padding-bottom: 15px;
}

.carousel-control-next-icon {
    background-image: url("/next.svg");
}

.carousel-control-prev-icon {
    background-image: url("/previous.svg");
}

p {
  font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility;
}

h1 {
	color: @ORANGE;
  font-family: 'Open Sans', sans-serif;
	//font-size: 2.5em;
	text-rendering: optimizeLegibility;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

/** Custom element style **/
#Welcome {
	background-color: transparent;
	color: white;
  font: normal 8rem  'Signika Negative';
	position: fixed;
	right: 50%;
	transform: translate(50%);
	top: 0;
	padding: 10vh;
	z-index: -1;
/*	div.middle-left {
    font: normal 6cm 'Stalemate', cursive;
		text-align: center;
	}*/
}
.first {
	margin-top: 680px;
	margin-top: 70vh;
}
.highlight{
	font-size: 4em;
	padding:5vh;
	display: inherit;
}
.central-text{
	padding: 40px;
	width:70%;
	max-width:1250px;
	left:50%;
	text-align: justify;
	position:relative;
	transform:translateX(-50%)
}
#legal {
	height: 50px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	p {
		margin: 0px;
	}
}
#linkedin {
	background-image: url(/pics/linkedin.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
a {
	&:hover {
		#linkedin {
			background-image: url(/pics/linkedin-hover.png);
		}
		#mail {
			background-image: url(/pics/mail-hover.png);
		}
		#home {
			background-image: url(/pics/home-hover.png);
		}
	}
}

#redNav {
	&:hover:after {
		border-top: 7px solid @RED;
		vertical-align: bottom;
	}
	&.active {
		background-color: @RED;
		color: white;
	}
}
#redNav.selected {
	background-color: @RED;
	color: white;
}
#yellowNav {
	&:hover:after {
		border-top: 7px solid @YELLOW;
		vertical-align: bottom;
	}
	&.active {
		background-color: @YELLOW;
		color: white;
	}
}
#yellowNav.selected {
	background-color: @YELLOW;
	color: white;
}
#orangeNav {
	&:hover:after {
		border-top: 7px solid @ORANGE;
		vertical-align: bottom;
	}
	&.active {
		background-color: @ORANGE;
		color: white;
	}
}
#orangeNav.selected {
	background-color: @ORANGE;
	color: white;
}
#blueNav {
	&:hover:after {
		border-top: 7px solid @BLUE;
		vertical-align: bottom;
	}
	&.active {
		background-color: @BLUE;
		color: white;
	}
}
#blueNav.selected {
	background-color: @BLUE;
	color: white;
}
#greenNav {
	&:hover:after {
		border-top: 7px solid @GREEN;
		vertical-align: bottom;
	}
	&.active {
		background-color: @GREEN;
		color: white;
	}
}
#greenNav.selected {
	background-color: @GREEN;
	color: white;
}

#home {
	background-image: url(/pics/home.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	height: @HORZNAVHEIGHT;
	padding-left: 10;
	vertical-align: bottom;
	width: @HORZNAVHEIGHT;
}
#home.selected {
	background-color: @DARKGREY;
	background-image: url(/pics/home-selected.png);
}
li {
	&:hover {
		#office 		{ background-image: url(/pics/office-hover.png);}
		#Mail 			{	background-image: url(/pics/contact-hover.png);}
		#Team 			{	background-image: url(/pics/contact-hover.png);}
		#sharepoint {	background-image: url(/pics/sharepoint-hover.png);}
		#slack 			{	background-image: url(/pics/slack-hover.png);}
		#gitlab 		{ background-image: url(/pics/gitlab-hover.png);}
    #trello 		{ background-image: url(/pics/trello-hover.png);}
	}
}
#Mail {
	background-image: url(/pics/contact.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
#mail {
	background-image: url(/pics/mail.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
#Team {
	background-image: url(/pics/contact.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
#sharepoint {
	background-image: url(/pics/sharepoint.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
#slack {
	background-image: url(/pics/slack.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
#gitlab {
	background-image: url(/pics/gitlab.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
#trello {
	background-image: url(/pics/trello.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
