/** Standart element Style **/
html{
  background-color: #212121;
}

/** Position lelment Style **/
.middle-right {
  width: 50%;
  text-align: right;
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
}

.middle-left {
  width: 50%;
  text-align: left;
  display: inline;
}

/** Custom element Style **/
#Welcome {
  width: 100%;
  background-color: #212121;
  font-size: 4em;
  color: #FDF4E3;
}

/** Animation Style **/
@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.fade-el {
  display: none;
}

.fade-in {
  -webkit-animation: fadeIn 1s ease-in 1 forwards;
  animation: fadeIn 1s ease-in 1 forwards;
  opacity: 0;
  color: #FFA420;
}

.fade-out {
  -webkit-animation: fadeOut .5s ease-in 1 forwards;
  animation: fadeOut .5s ease-in 1 forwards;
  opacity: 1;
  color: #FFA420;
}
