@DARKGREY: #212121;
@ORANGE:   #fcc512;
@RED: 	   #e25b49;
@GREEN:    #50ad37;
@BLUE:     #409def;
@GREY:     #303030;
@LIGHTGREY:#eeeeee;
@YELLOW:   #fcdc12;
@WHITE:    #ffffff;

@FOOTER_HEIGHT: 60px;

/** Standard element style**/
html {
  position: relative;
  min-height: 100%;
}

body {
	background-attachment: fixed;
	background-color: @DARKGREY;
	//background-image: url(/pics/fond.svg);
	background-position: 50% 0;
	background-repeat: no-repeat;
	//background-size:1280px 1148px;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility;
	margin: 0;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
    margin-bottom: @FOOTER_HEIGHT;
}
section {
	color: @DARKGREY;
	padding-top: 40px;
	text-align: center;
}
footer {
	background-color: black;
	color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: @FOOTER_HEIGHT;
    line-height: @FOOTER_HEIGHT;
}

body {

}

/*nav {
	z-index: 100;
	ul {
		list-style-type: none;
		margin: 0px 0px 0px 0px;
		a{text-decoration: none;}
	}
	li {
		display: inline-block;
		text-align: center;
		text-decoration: none;
		font-size: 1.3em;
		color: @GREY;
		a {
			color: inherit;
			height: 100%;
			position: relative;
			text-decoration: none;
		}
	}
}*/
p {
  font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility;
}

h1 {
	color: @ORANGE;
  font-family: 'Open Sans', sans-serif;
	//font-size: 2.5em;
	text-rendering: optimizeLegibility;
}
h2 {
  font-family: 'Open Sans', sans-serif;
}

/** General purpose Position element **/
.left {
	float: left;
}
.right {
	float: right;
}
.middle-right {
	display: inline-block;
	text-align: right;
	width: 45%;
}
.middle-left {
	display: inline-block;
	text-align: left;
	width: 45%;
}
.vertical-text {
	-moz-transform:rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	transform: rotate(-90deg);
}
/** Custom element style **/
#Welcome {
	background-color: transparent;
	color: white;
  font: normal 8rem  'Signika Negative';
	position: fixed;
	right: 50%;
	transform: translate(50%);
	width: 650px;
	padding: 10vh;
	height: 60vh;
	z-index: -1;
/*	div.middle-left {
    font: normal 6cm 'Stalemate', cursive;
		text-align: center;
	}*/
}
.first {
	margin-top: 680px;
	margin-top: 70vh;
}
.highlight{
	font-size: 4em;
	padding:5vh;
	display: inherit;
}
.central-text{
	padding: 40px;
	width:70%;
	max-width:1250px;
	left:50%;
	text-align: justify;
	position:relative;
	transform:translateX(-50%)
}
.kindOfTab{
  position: relative;
	.column{
		display: inline-block;
		width: 30%;
		max-width: 400px;
		padding: 10px;
    vertical-align: top;
		&::after{
			border-top: 7px solid @RED;
			width: 100%;
			content: '';
			display: block;
      position: absolute;
      bottom: 0;
      max-width : 400px;
      width: 30%;
		};
		&::before{
			border-top: 7px solid @RED;
			width: 100%;
			content: '';
			display: block;
		}
		img {
			width: 100%;
			position: static;
			transform: none;
		};
	}
}
#legal {
	height: 50px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	p {
		margin: 0px;
	}
}
/* Slide mangagement Section */

@SlidePadding: 20px;
.slide-content {
	background-color: white;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	min-height: 553px;
	min-height: 85vh;
	overflow: hidden;
	padding: @SlidePadding @SlidePadding @SlidePadding @SlidePadding;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 10;
	button {
		background-color: white;
		position: absolute;
	}
	p {
		//font-size: 1.1em;
		text-align: justify;
	}
	li {
		font-family: 'Open Sans', sans-serif;
		text-rendering: optimizeLegibility;
		//font-size: 1.1em;
	}
	img {
		left: 50%;
		max-height: 100%;
		position: absolute;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.central-text{
		width:70%;
		max-width:1250px;
		left:50%;
		position:relative;
		transform:translateX(-50%)
	}
	.small {
		max-width: 850px;
	}
	a {
		position: relative;
		//margin-left: .5em;
		//margin-right: .5em;
		text-decoration: none;
		font-weight: bold;
		color: @BLUE;
		&::after{
			transition: 0.4s;
			transition-property: all;
			content: '';
			left: 0;
			position: absolute;
			bottom: -.2em;
			width: 0;
			border-bottom: .3em solid @BLUE;
			vertical-align: bottom;
		}
		&:hover:after{
			width: 100%
		}
	}
}
.slide-left {
	display: inline-block;
	margin-right: 10px;
	width: 45%;
	max-width: 880px;
	padding-left: 10px;
	text-align: left;
	img {
		left: 25%;
		max-height: 85%;
		max-width: 45%;
		position: absolute;
		top: 10%;
		transform: translateX(-50%);
	}
}
.slide-right {
	display: inline-block;
	margin-left: 10px;
	max-width: 880px;
	padding-right: 10px;
	text-align: right;
	width: 45%;
	img {
		max-height: 85%;
		max-width: 45%;
		position: absolute;
		right: 25%;
		top: 10%;
		transform: translateX(50%);
	}
}
.scroll-down-button {
	background-image: url(/pics/slide-button.png);
	background-position:top;
	background-repeat: no-repeat;
	background-size: contain;
	height: 42px;
	margin-left: auto;
	margin-right: auto;
	width: 460px;
}
.scroll-up-button-daddy {
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	overflow-x: hidden;
	position: relative;
}
.scroll-up-button {
	background-image: url(/pics/slide-up-button.png);
	background-position:top;
	background-repeat: no-repeat;
	background-size: contain;
	border-left: 9999px solid white;
	border-right: 9999px solid white;
	height: 40px;
	left: -9999px;
	margin: auto;
	position: absolute;
	right: -9999px;
	width: 463px;
}

button.left-arrow {
	border-bottom: 60px solid transparent;
	border-right: 60px solid black;
	border-top: 60px solid transparent;
	left: 0%;
	opacity: 0.5;
	top:50%;
	transform: translate(0%,-50%);
	&:hover {
		opacity: 0.3;
	}
	&:active {
		border-right: 60px solid @ORANGE;
		opacity: 0.5;
	}
}
button.right-arrow {
	border-bottom: 60px solid transparent;
	border-left: 60px solid black;
	border-top: 60px solid transparent;
	opacity: 0.5;
	right: 0%;
	top: 50%;
	transform: translate(0%,-50%);
	&:hover {
		opacity: 0.3;
	}
	&:active {
		border-left: 60px solid @ORANGE;
		opacity: 0.7;
	}
}
.up-arrow {
	border-bottom: 15px solid white;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0px;
	left: 50%;
	opacity: 0.7;
	position: relative;
	top:30%;
	transform: translate(-50%,0%);
	width: 0px;
	&:hover {
		border-bottom-color: @ORANGE;
		opacity: 1;
	}
}
.down-arrow {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid @DARKGREY;
	height: 0px;
	left: 50%;
	opacity: 0.7;
	position: relative;
	top:30%;
	transform: translate(-50%,0%);
	width: 0px;
	&:hover {
		border-top-color: @ORANGE;
		opacity: 1;
	}
}

/* People Management section */
#scroll-bar-diapo {
	//background-color: white;
	//box-shadow: 0px 25px 25px 0px white;
	/*margin-left: 20%;
	margin-left: calc(~'10% + 122.5px');
	padding-right: 20%;
	padding-right: calc(~'10% + 122.5px');*/
	position: fixed;
	width: 100%;
	//width: calc(~'80% - 220px');
	z-index: 25;
	.round {
		border-color: black;
		border-radius: 50px;
		border-style: solid;
		border-width: 5px;
		cursor: pointer;
		display: inline-flex;
		height: 75px;
		margin: 10px;
		opacity: 0.8;
		padding: 0;
		position: relative;
		width: 75px;
		overflow: hidden;
		background-color: white;
		&:hover {
			border-color: @RED;
			opacity: 0.7;
		}
	}
	.selected {
		border-color: @RED;
		opacity: 1;
	}
	button.round {
		&:active {
			opacity: 0.7;
		}
	}
}

#angle-bar-diapo {
	border-left: 15px solid black;
	border-top-left-radius: 50px;
	border-top: 15px solid black;
	bottom: 0;
	display: inline-block;
	height: 50%;
	left: 10%;
	margin-left: 107.5px;
	position: absolute;
	width: 40%;
}
#nav-bar-diapo {
	background-color: white;
	border: 15px solid black;
	position: relative;
	width: auto;
}

.diapo-text {
	border-left: 15px solid black;
	display: block;
	height: 80%;
	margin-left: 107.5px;
	min-width: 300px;
	padding-left: 150px;
	padding-right: 50px;
	padding-top: 150px;
}
.diapo-logo {
	background-color: white;
	border-radius: 200px;
	border: 15px solid black;
	display: inline-block;
	height: 200px;
	margin-bottom: -120px;
	position: relative;
	position: sticky;
	text-align: center;
	width: 200px;
	z-index: 30;
	img {
		left: auto;
		max-height: 80%;
		max-width: 80%;
		position: relative;
		transform: translate(0,-50%);
	}
}
#people-exit {
	height: 100%;
	position: absolute;
	transition-duration: .5s;
	transition-property: all;
	//transition-timing-function: cubic-bezier(.42, 0, .58, 1);
	//visibility: hidden;
	left: 10%;
	margin-top: -@SlidePadding;
	margin-left: -@SlidePadding;
	//&::before{
	border-top: 7px solid @DARKGREY;
	width: 80%;
		//content: '';
	height: 0;
	display: block;
	//}
}
#people-exit.opened {
	background-color: @DARKGREY;
	opacity: 0.7;
	left: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	//visibility: visible;
}
.vip {
	background-color: white;
	border-radius: 30px;
	display: inline-block;
	margin: 10px;
	overflow-x: hidden;
	padding: 10px;
	vertical-align: top;
	transition-duration: .5s;
	transition-property: none;
	transition-timing-function: cubic-bezier(.42, 0, .58, 1);
	visibility: visible;
	width: 210px;
	&:hover {
		box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.6) inset;
	}
	h1 {
		//font-size: 1.2em;
		margin: 0;
	}
	h2 {
		//font-size: 0.8em;
		margin: 0;
	}
	a {
		position: inherit;
	}
}
.vip.opened {
	height: 500px;
	left: 50%;
	position: absolute;
	text-align: left;
	top: 10%;
	transform: translateX(-50%);
	transition-property: width;
	width: 60%;
	&:hover {
		box-shadow: none;
	}
	.name {
		display: block;
		//font-size: 1.6em;
		left: 240px;
		position: absolute;
		top: 10px;
		z-index: 10;
		h1 {
			display: inline-block;
		}
		h2 {
			display: inline-block;
			//font-size: 0.9em;
		}
	}
	img.pics {
		display: block;
	}
	.profileLinks {
		left: 105px;
		margin-top: 20px;
		position: absolute;
		transform: translateX(-50%);
		p {
			display: inline-block;
			line-height: 34px;
			margin: 0;
			vertical-align: bottom;
		}
		a::after {
			display: none;
		}
	}
	.bio {
		height: auto;
		left: 245px;
		padding-right: @SlidePadding;
		padding-top: 100px;
		top: 0;
		visibility: visible;
		width: auto;
		p {
			position: relative;
		}
	}
	.status {
		display: block;
		left: 245px;
		position: absolute;
		top: 40px;
		z-index: 10;
	}
	.profileLinks-daddy {
		display: block;
	}
}
.name {
	display: inline-block;
	margin: 5px;
	text-align: left;
}
img.pics {
	border-radius: 200px;
	border: 10px solid #e33528;
	display: inline-block;
	height: 190px;
	position: static;
	transform: none;
	width: 190px;
	background-image: url(/default-people.png);
	background-repeat:no-repeat;
	background-size: contain;
}
.profileLinks {
	display: inline-block;
	p {
		color: @DARKGREY;
		display: none;
		display: none;
	}
}
.logoPeople {
	background-color: white;
	display: inline-block;
	height: 30px;
	margin: 2px 2px 2px 0;
	width: 30px;
}
.bio {
	height: 0;
	padding-right: 10px;
	padding-top: 100px;
	position: absolute;
	visibility: hidden;
	width : 0;
}
.status {
	//font-size: 0.6em;
}
.profileLinks-daddy {
	display: inline-block;
}
#linkedin {
	background-image: url(/pics/linkedin.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
a {
	&:hover {
		#linkedin {
			background-image: url(/pics/linkedin-hover.png);
		}
		#mail {
			background-image: url(/pics/mail-hover.png);
		}
		#home {
			background-image: url(/pics/home-hover.png);
		}
	}
}
/* Contact Form style */
#contactForm {
	width:0px;
	position: relative;
	left: calc(~'50% - 334px');
	fieldset {
	 padding:20px 20px 20px 20px;
	 margin-bottom:10px;
	 border:2px solid @GREY;
	 //width: 1000px;
	 border-radius:10px;
	 text-align: left;
	}
	legend {
	// color:#DF3F3F;
	 font-weight:bold
	}
	input, textarea {
	 padding:3px;
	 margin: 10px;
	 border: 1px solid @GREY;
	 border-radius:10px;
	 width:400px;
	 background-color: white;//@LIGHTGREY;
	 display: inline-block;
	 box-shadow: none;
	 font-family: 'Open Sans', sans-serif;
	 &.false {
		 border-color: @RED;
		 box-shadow: 0px 0px 3px 0px @RED;
	 }
	 &.true {
		 border-color: @GREEN;
		 box-shadow: 0px 0px 3px 0px @GREEN;
	 }
	}
	input {
		height: 40px;
	}
	.small {
		width: 150px;
	}
	.large {
		width: 600px;
	}
	input[type=submit] {
	 width:100px;
	 margin-left:5px;
	 background-color: @GREY;
	 color: white;
	 box-shadow:none;
	 cursor:pointer;
 }
 #buttonMail{
	 &:hover {
		 background-color: white;
		 color: @DARKGREY;
	 }
	 &:active {
		 background-color: white;
		 color: @DARKGREY;
	 }
 }
}

/* Navigation style */
@HORZNAVHEIGHT : 40px;
#HorzTopNav {
	background-color: white;
	box-shadow: 0px 0px 2px 0px @GREY;
	color: @GREY;
	font-family:Arial, Helvetica, sans-serif;
	height:@HORZNAVHEIGHT;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: right;
	width: 100%;
	position: fixed;
	top:0;
}
#websiteNav {
	margin-right: 100px;
	li {
		height: 25px;
		margin-top: 0px;
		padding: 15px 5px 0px 5px;
		position: relative;
		text-decoration: none;
		&::after {
			border-top: 0px solid @GREY;
			content: '';
			left: 0;
			position: absolute;
			top: 0;
			transition: 0.2s;
			width: 100%;
		}
	}
	li.selected {
		&:after {
			transition: none;
		}
	}
}
#redNav {
	&:hover:after {
		border-top: 7px solid @RED;
		vertical-align: bottom;
	}
	&:active {
		background-color: @RED;
		color: white;
	}
}
#redNav.selected {
	background-color: @RED;
	color: white;
}
#yellowNav {
	&:hover:after {
		border-top: 7px solid @YELLOW;
		vertical-align: bottom;
	}
	&:active {
		background-color: @YELLOW;
		color: white;
	}
}
#yellowNav.selected {
	background-color: @YELLOW;
	color: white;
}
#orangeNav {
	&:hover:after {
		border-top: 7px solid @ORANGE;
		vertical-align: bottom;
	}
	&:active {
		background-color: @ORANGE;
		color: white;
	}
}
#orangeNav.selected {
	background-color: @ORANGE;
	color: white;
}
#blueNav {
	&:hover:after {
		border-top: 7px solid @BLUE;
		vertical-align: bottom;
	}
	&:active {
		background-color: @BLUE;
		color: white;
	}
}
#blueNav.selected {
	background-color: @BLUE;
	color: white;
}
#greenNav {
	&:hover:after {
		border-top: 7px solid @GREEN;
		vertical-align: bottom;
	}
	&:active {
		background-color: @GREEN;
		color: white;
	}
}
#greenNav.selected {
	background-color: @GREEN;
	color: white;
}
#IconShortcut {
	li {
		a {
			div {
				height: 12mm;
				height: 46px;
				width: 12mm;
				width: 46px;
			}
		}
	}
}
.nav-icon {
	height: 46px;
	width: 46px;
}
#home {
	background-image: url(/pics/home.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	height: @HORZNAVHEIGHT;
	padding-left: 10;
	vertical-align: bottom;
	width: @HORZNAVHEIGHT;
}
#home.selected {
	background-color: @DARKGREY;
	background-image: url(/pics/home-selected.png);
}
#office {
	background-image: url(/pics/office.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
li {
	&:hover {
		#office 		{ background-image: url(/pics/office-hover.png);}
		#Mail 			{	background-image: url(/pics/contact-hover.png);}
		#Team 			{	background-image: url(/pics/contact-hover.png);}
		#sharepoint {	background-image: url(/pics/sharepoint-hover.png);}
		#slack 			{	background-image: url(/pics/slack-hover.png);}
		#gitlab 		{ background-image: url(/pics/gitlab-hover.png);}
    #trello 		{ background-image: url(/pics/trello-hover.png);}
	}
}
#Mail {
	background-image: url(/pics/contact.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
#mail {
	background-image: url(/pics/mail.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
#Team {
	background-image: url(/pics/contact.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
#sharepoint {
	background-image: url(/pics/sharepoint.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
#slack {
	background-image: url(/pics/slack.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
#gitlab {
	background-image: url(/pics/gitlab.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
#trello {
	background-image: url(/pics/trello.png);
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: bottom;
}
#Menu {
	background-color: white;
	background-image: url(/pics/burger-menu.png);
	background-repeat:no-repeat;
	background-size: contain;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.6);
	display: inline-block;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	position:fixed;
	right: 10px;
	top: 0;
	&:hover {
		background-image: url(/pics/burger-menu-hover.png);
		border-radius: 0px;
		#MenuContainer {
			display: inline-block;
		}
	}
	ul {
		display: inline-block;
		height: 100%;
		padding: 10px 0px 10px 0px;
	}
	li {
		display: block;
		margin-bottom: 0px;
		padding: 3px;
		&:hover {
			background-color: @DARKGREY;
			box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.6) inset;
			color: white;
			padding: 3px;
			div {
				background-color: transparent;
			}
			span {
				background-color: transparent;
			}
		}
		&:active {
			background-color: white;
			color: @DARKGREY;
		}
		div {
			display: inline-block;
		}
		span {
			display: inline-block;
			line-height: 46px;
			padding-left: 10px;
			text-align: left;
			width: 150px;
		}
	}
}
#MenuContainer {
	background-color: white;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.6);
	display: none;
	position: fixed;
	right: 10px;
	top : 46px;
}
.subMenu {
	position: relative;
}
#PrivateLabel {
	background-color: @RED;
	color: white;
	height: 100%;
	opacity: 100;
	position: absolute;
	transform: translateX(-100%);
	width:50px;
}
#PublicLabel {
	background-color: @GREEN;
	bottom: 0;
	color: white;
	height: 100%;
	opacity: 100;
	position: absolute;
	transform: translateX(-100%);
	width:50px;
}
#PublicMenu{
	display: none;
}
/* Diaporama section */
#diaporama {
	.slide-content;
	display: inline-block;
	overflow: hidden; // HACK: Bad fix for hidding scroll bar in diaporama div (.diapo should be resized instead)
	width: 80%;
	padding: 120px 10% 0 10%;
}
.diapo {
	display: inline-block;
	text-align: left;
	transition-duration: 1s;
	transition-property: all;
	transition-timing-function: cubic-bezier(.42, 0, .58, 1);
	visibility: visible;
}
.diapo.right {
	right: -9999px;
}
.diapo.left {
	right: 9999px;
}
.diapo.in {
	right: 0px;
}
/* Project Part */
#ProjectMenu{
	top:@HORZNAVHEIGHT;
	right: 0px;
	height: @HORZNAVHEIGHT;
	z-index: 40;
	position: fixed;
	display: flex;
	box-shadow: 0px 0px 2px 0px @GREY;
	#Corner{
		border: @HORZNAVHEIGHT/2 solid white;
		display: inline-block;
		&::before{
			border: @HORZNAVHEIGHT/2 solid white;
			border-bottom-color: transparent;
			border-left-color: transparent;
			content: '';
			position: absolute;
			top: 0;
			left:  -@HORZNAVHEIGHT;
		}
	}
	#EndCorner{
		width: 60px;
		height: @HORZNAVHEIGHT;
		background-color: white;
		display: inline-block;
	}
	.projectNavItem{
		background-color: white;
		display: inline-block;
		height: @HORZNAVHEIGHT;
		padding-left: 10px;
		padding-right: 10px;
		line-height: @HORZNAVHEIGHT;
		vertical-align: middle;
		transition: .2s;
		cursor: pointer;
		&:hover{
			background-color: @GREEN;
			color: white;
		}
	}
	.selected{
		background-color: @GREEN;
		color: white;
	}
}
.BigButt{
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 20px;
  padding: 0px;
  min-width: 260px;
  min-height: 421px;
  width: 20%;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
  transition-property: all;
  h1{
    //font-size: 2em;
  }
  a{
    text-decoration: none;
    color: inherit;
    margin: 15px;
    display: inline-table;
    min-height: 421;
    &::after{
      display: none;
    }
    &:hover:after{
      display: none;
    }
  }
  img{
    position: relative;
    transform: none;
    left: auto;
    max-width: 100%;
  }
  &:hover{
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.6) inset;
  }
}
#ProjectPage{
	@ProjectPageH : calc(~'100vh - 120px');
	height: @ProjectPageH;
	width:100%;
	margin-top: 120px;
	position:relative;
	overflow-x:hidden;
	border-bottom: 0;
	background-color: white;
	padding: 0;
	.projectSlide{
		width: 100%;
		position:absolute;
		@MainWindowH : 60vh;
		.mainWindows{
			height:@MainWindowH;
			width: 100%;
			display: inline-block;
		}
		a {
			position: relative;
			//margin-left: .5em;
			//margin-right: .5em;
			text-decoration: none;
			font-weight: bold;
			color: @BLUE;
			&::after{
				transition: 0.4s;
				transition-property: all;
				content: '';
				left: 0;
				position: absolute;
				bottom: -.2em;
				width: 0;
				border-bottom: .3em solid @BLUE;
				vertical-align: bottom;
			}
			&:hover:after{
				width: 100%
			}
		}
		.bottomWindow{
			width: 100%;
			display: inline-block;
		}
		img {
			max-height: 100%;
		}
	}
}

/* Animation */
@-webkit-keyframes fadeIn {
		to { opacity: 1;}
}
@-webkit-keyframes 	fadeOut {
		to { opacity: 0;}
}
@keyframes 	fadeIn {
		to { opacity: 1;}
}
@keyframes	fadeOut {
		to { opacity: 0;}
}
.fade-el {
	display: none;
}
.fade-in {
	-webkit-animation: fadeIn 1s ease-in 1 forwards;
	animation: fadeIn 1s ease-in 1 forwards;
	color: @ORANGE;
	opacity: 0;
}
.fade-out {
	-webkit-animation: fadeOut .5s ease-in 1 forwards;
	animation: fadeOut .5s ease-in 1 forwards;
	color: @ORANGE;
	opacity: 1;
}
