<div class="row">
    <h1>L'association</h1>
    <p class="text-justify">
        <b>Project Tomorrow</b> ou plus simplement <b>ProTo</b> en forme courte est une association de loi 1901 qui regroupe des membres issus de la vie active
        autour d'une même vision et d'un même constat. Si de nos jours nos ingénieurs, managers et plus généralement nos cadres supérieurs sont issus de formations
        qui leur ont donné toutes les clefs pour remplir leurs fonctions de manière efficace, il reste néanmoins nécessaire pour beaucoup d'entre eux d'obtenir
        un complément autour de l'esprit d'innovation et de la synergie de groupe dans un contexte où chacun ne vient pas du même horizon.
    </p>
</div>
<div class="row">
    <h1>Nos motivations</h1>
    <p class="text-justify">
        Ainsi, nous souhaitons apporter ce complément à la formation de chacun en proposant des sujets de projets d'études orientés vers la création et l'innovation
        dans un cadre industriel. Le but de chacun de ces projets étant d'identifier et de répondre à une problématique au sein d'un groupe pluridisciplinaire de personnes et d'aboutir
        à la création d'un produit ou d'une solution qui soit commercialisable. Chacun de ces projets étant conjointement encadré par les professeurs et les membres
        de l'association afin d'assurer une continuité avec la formation universitaire des étudiants d'une part, et de la cohérence entreprenariale et commerciale
        d'autre part.
    </p>
</div>
<div class="row">
    <h1>Les débouchés</h1>
    <p class="text-justify">
        L'expérience que les étudiants tireront de ce type de projet peut se valoriser de différentes manières. De façon évidente, cela peut mener à la création de start-up
        autour d'une idée ou d'un concept innovant et compétitif mais pas uniquement. Plus généralement, dans un contexte d'entreprise, il est important de cultiver
        l'esprit d'innovation de ses collaborateurs afin de garder un bon dynamisme, mais également de promouvoir l'interdisciplinarité afin que tous aient conscience
        des contraintes qui pèsent sur les divers métiers constituant l'entreprise.

        En fin d'année les projets peuvent être cédés à un client ou repris par
        des élèves. Elèves qui sortiront forts d'une expérience de l'innovation,
        qui leur aura apporté une interdiscipinarité permettant de mieux cerner
        toutes les contraintes du monde de l'entreprise, et une vision dynamique
        aidant à proposer des solutions.
    </p>
</div>
