<div class="diapo-logo">
  <img src="/problem.png"></img>
</div>
<div class="diapo-text">
  <h1>Phase préliminaire : définition d'une problématique de travail</h1>
  <p>
    <b>ProTo</b> forme les étudiants aux concepts de management de l’innovation, à ce titre, quoi de mieux que de commencer par la détermination d’un besoin
    et de la réponse adéquate à lui apporter ? Ainsi, avant le début officiel des projets, les membres de <b>ProTo</b> se mettent en quête de prospects potentiels,
    de problématiques prometteuses et invitent les étudiants participant au projet à faire de même. Le but n'est pas d'apporter un cahier des charges complet
    aux étudiants mais de les pousser à identifier les réponses techniques possibles pour chaque problématique.
  </p>
  <ul>
    <li> En quoi celles-ci apportent-elles une amélioration par rapport à l'existant ?</li>
    <li> Sont-elles envisageables d'un point de vue technique dans le temps imparti ?</li>
    <li> Pour quelles raisons un client potentiel optera pour la solution qui sera présentée plutôt que pour celle proposée par la concurrence ?</li>
  </ul>
  <p>
    Cette phase se termine lors de l’arrêt du choix de la problématique pour le projet avant d'entrer dans une phase de réflexion approfondie
    autour des actions à mener.
  </p>
</div>
