<div class="diapo-logo">
  <img src="/happy.png"></img>
</div>
<div class="diapo-text">
  <h1>Phase 3 : vérification</h1>
  <p>Avant d’entamer toute phase de développement intensif, les élèves valideront les solutions techniques et commerciales qu’ils auront ébauchées lors de la phase 2.
	Pour tous les aspects techniques ils auront à disposition les professeurs de leurs établissements universitaires (dans le cas d'élèves de formation scientifique et technique)
	ainsi que les contacts techniques de l’association ProTo.
	Pour les aspects commerciaux et marketing, ils pourront compter sur les contacts commerciaux de ProTo mais, aussi et surtout, il pourront s'appuyer sur la vision et les retours
	des prospects éventuels qui auront été trouvés pour soutenir le projet.
   </p>
</div>
