<div class="diapo-logo">
  <img src="/happy.png"></img>
</div>
<div class="diapo-text">
  <h1>Phase 2 : validation</h1>
  <p>Qu'il soit académique ou industriel, tout projet est soumis à des risques,
  problème de développement, erreur d'appréciation des difficultées, mauvaise
  compréhension du projet. C'est pour cette raison que les étudiants, avant
  d’entamer toute phase de développement intensif, valident leur solution tant
  du point de vue technique que fonctionnel.
  </p><p>
  Cette validation se fait à la fois par les écoles impliquées, les membres
  de ProTo et, le cas échéant, par l'entreprise supportant le projet. Chacun ayant
  une vision propre du projet, nous avons la conviction qu'une approche
  pluripartite permet de prémunir le plus efficacement possible les risques
  inhérents aux projets innovants et garantir notre succès.
  </p>
</div>
