<div class="diapo-logo mx-auto">
  <img src="/brainStorm-small.png"></img>
</div><div>
  <h1>Phase 1 : réflexion</h1>
  <p class="text-justify">
   Une fois la liste des problématiques définie et l’équipe de travail constituée, la problématique la plus
   prometteuse est sélectionnée afin de bâtir une solution technique répondant aux besoins. L'équipe a également à charge de
   construire une ébauche de plan marketing adapté à sa solution : définition de la cible, première étude du marché, facteurs clés de succès, etc.
  </p>
</div>
