<div class="diapo-logo">
  <img src="/finalProd.png"></img>
</div>
<div class="diapo-text">
  <h1>Phase finale : livraison</h1>
  <p>
    Lors de la dernière phase du projet, le produit est livré dans sa forme fonctionnelle la plus avancée.
    Selon la nature du produit, s'il s'agit d'un objet matériel on fournira les dossiers de fabrications, BOM, et schémas électroniques. 
    S'il s'agit d'un produit immatériel, on fournira les applicatifs, codes sources et documentation de travail.
    Ceci permettra au client de d'effectuer de futures phases de développement sur le produit indépendament des autres parties prenantes du projet.
    On pourra aussi envisager, dans le cas où une partie des fonctionnalités avancées est encore en cours de
    développement par l'équipe, la possibilité de poursuivre le développement ou la mise en place du produit au travers de stages 
    ou de contrats co-signés avec l'une des Junior-Entreprises des établissements universitaires auxquels sont rattachés les élèves.
   </p>
</div>
