<div id="scroll-bar-diapo">
  <% for(var i=0; i<ListDiapo.length; i++) {%>
   <button onclick="GoToSlide(<%= i %>)" class="round"></button>
  <% } %>
</div>

<div id="diaporama" ><!--onmouseover="SlideStop()"
                                     onfocussout="SlideStart()">-->
<div>
<% for(var i=0; i<ListDiapo.length; i++) {%>
  <div class="diapo">
    <%- include('../diaporama/' + ListDiapo[i])%>
  </div>
<% } %>
</div>
</div>
