<div class="diaporama" onmouseover="SlideStop()"
                                     onfocussout="SlideStart()">

<% for(var i=0; i<ListDiapo.length; i++) {%>
  <div class="diapo right">
    <%- include('../diaporama/' + ListDiapo[i])%>
  </div>
<% } %>

<button class="right-arrow" onclick="NextSlide()"></button>
<button class="left-arrow" onclick="PreviousSlide()"></button>
<div id="scroll-bar-diapo">
  <% for(var i=0; i<ListDiapo.length; i++) {%>
   <button onclick="GoToSlide(<%= i %>)" class="round"></button>
  <% } %>
</div>
</div>
