<div class="slide-left">
  <img src="speaker.jpg"></img>
</div>
<div class="slide-right">
  <h1>Projet 2016-2017 : Système Hi-Fi modulaire</h1>
  <p>
	Le premier des projets ProTo a être antré dans une phase active est réalisé au sein de L'<b>É</b>cole <b>N</b>ationale <b>S</b>upérieure de
	l'<b>É</b>lectronique et de ses <b>A</b>pplications - <b>ENSEA</b>. Le sujet choisi et de réalisé un système Hi-Fi modulaire et portatif.
	Ce système s'articule autour de modules-fonctions qui en s'ajoutant les uns aux autres viennent constituer un ensemble plus ou moins complexe.
	Le système utilisera une connectique uniforme entre ses différents modules afin de pouvoir les ajouter les uns aux autres sans avoir a se soucier de
	l'ordre de connexion ni du nombre de modules connectés entre eux.
  </p>
  <p>
	L'équipe actuelle est constituée de 6 élèves ingénieurs pour lesquels nous assuront l'encadrement technique et l'appui pour les aspects de développement
	marketing. La recherche de prospect éventuel pour soutenir ce projet est en cours. Dans le cadre de ce projet, le rendu intermédiaire permettra aux professeurs
	d'évaluer les élèves sur le projet pour le premier semestre et le rendu final constituera leur note pour le second semestre.
  </p>
</div>
