<div class="slide-left">
<h1>Lorem Ipsum</h1>
<p>
Siquis enim militarium vel honoratorum aut nobilis inter suos rumore tenus esset insimulatus fovisse partes hostiles, iniecto onere catenarum in modum beluae trahebatur et inimico urgente vel nullo, quasi sufficiente hoc solo, quod nominatus esset aut delatus aut postulatus, capite vel multatione bonorum aut insulari solitudine damnabatur.
</p>

</div>
<div class="slide-right">
  <img src="https://s-media-cache-ak0.pinimg.com/564x/fd/af/aa/fdafaa2954db46bab6e09504f278e2ef.jpg"></img>
</div>
