
<div class="diaporama">
<div class="diapo right">
  <% include ../diaporama/diapo1.ejs %>
</div>
<div class="diapo left">
  <% include ../diaporama/diapo2.ejs %>
</div>
<div class="diapo right">
  <% include ../diaporama/diapo3.ejs %>
</div>
</div>
