
<div class="diapo right">
  <% include ../diaporama/diapo1.ejs %>
</div>
<div class="diapo right">
  <% include ../diaporama/diapo2.ejs %>
</div>
<div class="diapo right">
  <% include ../diaporama/diapo3.ejs %>
</div>
<button class="right-arrow" onclick="NextSlide()"></button>
<button class="left-arrow" onclick="PreviousSlide()"></button>
<div id="scroll-bar-diapo">
  <% for(var i=0; i<3; i++) {%>
   <button onclick="GoToSlide(<%= i %>)" class="round"></button>
  <% } %>
</div>
