<!-- I want to break free -->
<!--Bootstrap style-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="/style.css">
  <meta http-equiv="Content-Type" content="text/html" charset="iso-8859-1"
        name="keywords" content="Innovation, ingénieur, technologie, école"
        name="description" content="ProTo est une association ayant pour but de but de promouvoir l’innovation, l’entrepreneuriat et l’interdisciplinarité dans les établissements d'enseignement supérieur. "/>
  <meta property="og:site_name" content="ProTo" />
  <meta property="og:title" content="ProTo - Project Tomorrow" />
  <meta property="og:description" content="ProTo est une association ayant pour but de but de promouvoir l’innovation, l’entrepreneuriat et l’interdisciplinarité dans les établissements d'enseignement supérieur. " />
  <meta property="og:url" content="http://project-tomorrow.fr" />
  <!--meta property="og:image" content="http://http://project-tomorrow.fr/logo.png" /-->
  <link href="https://fonts.googleapis.com/css?family=Stalemate|Open+Sans|Signika+Negative" rel="stylesheet"> <!-- TODO:use our own not google-->
  <link rel="icon" type="image/png" href="/favicon.png" size="32x32">
  <title>ProTo - <%= Title %></title>
