<!-- I want to break free -->
  <link type="text/css" rel="stylesheet" href="styles/style.css">
  <link type="text/css" rel="stylesheet" media="handheld" href="styles/smallScreen.css">
  <link type="text/css" rel="stylesheet" media="screen and (orientation: portrait)" href="smallScreen.css" >
  <meta http-equiv="Content-Type" content="text/html" charset="iso-8859-1"
        name="keywords" content="Innovation, ingénieur, technologie, école"
        name="description" content="ProTo est une association ayant pour but de but de promouvoir l’innovation, l’entrepreneuriat et l’interdisciplinarité dans les établissements d'enseignement supérieur. "/>
  <link href="https://fonts.googleapis.com/css?family=Stalemate|Open+Sans|Signika+Negative" rel="stylesheet"> <!-- TODO:use our own not google-->
  <link rel="icon" type="image/png" href="/favicon.png" size="32x32">
  <title>ProTo - <%= Title %></title>
