<%# Horizontale nav bar %>
<nav id="HorzTopNav">
  <a href="/"><div id="home" class="nav-icon left
    <% if(Title==TitleNavBar[0]){ %>
       selected
    <% } %>  >">
  </div></a>
  <ul id="webSiteNav">
    <% for(var i=1; i<TitleNavBar.length; i++) {%>
			<li id="<%- ColorNavBar[i]%>Nav"
        <% if(Title== TitleNavBar[i]){ %>
            class="selected"
        <% } %>  >
        <a href="<%- RefNavBar[i]%>">
          <%- TextNavBar[i] %>
        </a>
      </li>
    <% } %>
  </ul>
</nav>

<%# Burger Menu %>
<nav id="Menu" class="right nav-icon">
  <div id="PrivateMenu">
  <div id="PrivateLabel"><p class=vertical-text>Accès réservé</p></div>
  <ul>
    <li><a target="_blank" href="http://git.project-tomorrow.fr">
            <div class= "nav-icon" id="gitlab"></div>
            <span>Gitlab</span>
    </a></li>
    <li><a target="_blank" href="https://project-tomorrow.slack.com">
            <div class= "nav-icon" id="slack"></div>
            <span>Slack</span>
    </a></li>
    <li><a target="_blank" href="https://projecttomorrow.sharepoint.com/Team1">
            <div class= "nav-icon" id="sharepoint"></div>
            <span>Site du Projet</span>
    </a></li>
    <li><a target="_blank" href="https://www.office.com/1/?auth=2">
            <div class= "nav-icon" id="office"></div>
            <span>Portail Office</span>
    </a></li>
  </ul>
</div>
</nav>
