<%# Horizontale nav bar %>
<nav id="HorzTopNav" class="navbar navbar-toggleable-md navbar-expand-lg sticky-top navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"><div id="home" class="nav-icon left
    <% if(Title==TitleNavBar[0]){ %>
       selected
    <% } %>  ">
  </div></a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% for(var i=1; i<TitleNavBar.length; i++) {%>
        <li id="<%- ColorNavBar[i]%>Nav" onclick="this.className='active'" class="nav-item
          <% if(Title== TitleNavBar[i]){ %>
                active
          <% } %>  ">
          <a class="nav-link" href="<%- RefNavBar[i]%>">
            <%- TextNavBar[i] %>
          </a>
        </li>
      <% } %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Autres Sites
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://git.project-tomorrow.fr">Gitlab</a>
          <a class="dropdown-item" href="https://project-tomorrow.slack.com">Slack</a>
          <a class="dropdown-item" href="https://trello.com/protouser">trello</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<%# Burger Menu
<nav id="Menu" class="right nav-icon">
  <div id="MenuContainer">
    <div id="PrivateMenu" class="subMenu">
      <div id="PrivateLabel"><p class=vertical-text>Accès réservé</p></div>
      <ul>
      <li><a target="_blank" href="http://git.project-tomorrow.fr">
              <div class= "nav-icon" id="gitlab"></div>
              <span>Gitlab</span>
      </a></li>
      <li><a target="_blank" href="https://project-tomorrow.slack.com">
              <div class= "nav-icon" id="slack"></div>
              <span>Slack</span>
      </a></li>
      <li><a target="_blank" href="https://trello.com/protouser">
              <div class= "nav-icon" id="trello"></div>
              <span>Trello</span>
      </a></li>
      <li><a target="_blank" href="https://projecttomorrow.sharepoint.com/Team1">
              <div class= "nav-icon" id="sharepoint"></div>
              <span>Site du Projet</span>
      </a></li>
      <li><a target="_blank" href="https://www.office.com/1/?auth=2">
              <div class= "nav-icon" id="office"></div>
              <span>Portail Office</span>
      </a></li>
    </ul>
  </div>
  <div id="PublicMenu" class="subMenu">
    <div id="PublicLabel"><p class=vertical-text>Accès public</p></div>
      <ul>
        <li><a target="_blank" href="/people">
          <div class= "nav-icon" id="Team"></div>
          <span>Équipe</span>
        </a></li>
        <li><a target="_blank" href="/contact">
          <div class= "nav-icon" id="Mail"></div>
          <span>Contact</span>
        </a></li>
      </ul>
    </div>
  </div>
</nav>
%>