<nav id="HorzTopNav">
  <ul id="IconShortcut" class="left">
    <li><a href="/"><div id="home"></div></a></li>
    <li><a href="http://git.project-tomorrow.fr"><div id="gitlab"></div></a></li>
    <li><a href="https://project-tomorrow.slack.com"><div id="slack"></div></a></li>
  </ul>
  <!--<ul id="Menu" class="right">
    <li class="right"><a href ="/contact">contact</a></li>
  </ul> -->
</nav>
