<nav id="HorzTopNav">
  <a href="/"><div id="home" class="nav-icon left"></div></a>
  <ul id="webSiteNav">
    <li id="contact"><a href="/contact">Nous contacter</a></li>
    <!--<li class="contact"><a href="/contact">Nous contacter</a></li>-->
  </ul>
</nav>
<nav id="Menu" class="right nav-icon">
  <ul>
    <li><a target="_blank" href="http://git.project-tomorrow.fr">
            <div class= "nav-icon" id="gitlab"></div>
            <span>Gitlab</span>
    </a></li>
    <li><a target="_blank" href="https://project-tomorrow.slack.com">
            <div class= "nav-icon" id="slack"></div>
            <span>Slack</span>
    </a></li>
    <li><a target="_blank" href="https://www.office.com/1/?auth=2">
            <div class= "nav-icon" id="office"></div>
            <span>Portail Office</span>
    </a></li>
  </ul>
</nav>
