<html>
	<head>
		<% include partials/head.ejs %>
		<title>ProTo - FarAway</title>
	</head>
<body>
	<div>
		<div id="center">
			<h1>#404</h1>
			<p>There must be another way...</p>
		</div>
	</div>
	<%// include partials/footer.ejs %>
</body>
</html>
