<html>
	<head>
		<% include partials/head.ejs %>
		<title>ProTo - FarAway</title>
	</head>
<body>
	<% include partials/navBar.ejs %>
	<section>
		<div class=slide class=center>
			<h1>#404</h1>
			<p>There must be another way...</p>
		</div>
	</section>
	<%// include partials/footer.ejs %>
</body>
</html>
