<html>
	<head>
		<% include partials/head.ejs %>
		<title>ProTo - FarAway</title>
	</head>
<body>
	<% include partials/navBar.ejs %>
	<section>
		<div class="slide-content">
			<h1>Page non trouvée</h1>
			<p>Nous sommes navré pour cette inconvénient mais il semble qu'une erreur sauvage soit apparue.</p>
			<p>Souhaitez vous revenir à <a href="/">l'acceuil?</a></p>
		</div>
	</section>
	<% include partials/footer.ejs %>
</body>
</html>
