<html>
	<head>
		<% include partials/head.ejs %>
	</head>
<body>
	<% include partials/navBar.ejs %>
	<section>
		<div class="slide-content">
      <h1>Contactez nous!</h1>
        <p>Vous pouvez directement nous écrire à
          <a href="mailto:contact@project-tomorrow.fr">contact@project-tomorrow.fr</>
        </p><p>
          Ou nous adresser un courrier chez
        </p>
		</div>
	</section>
	<% include partials/footer.ejs %>
</body>
<% include script/fadeList.js %>
</html>
