<html>
	<head>
		<% include partials/head.ejs %>
	</head>
<body>
	<% include partials/navBar.ejs %>
	<section>
		<div class="slide-content">
			<div class="central-text">
      <h1>Parlez-nous !</h1>
        <p>
					Que vous souhaitiez nous rejoindre, faire un don ou simplement en savoir plus sur ProTo,
					n'hésitez pas à nous joindre via <a href="mailto:contact@project-tomorrow.fr">e-mail </a>.
					Nous vous répondrons dans les plus brefs délais.
        </p>
			</div>
		</div>
	</section>
	<% include partials/footer.ejs %>
</body>
<% include script/fadeList.js %>
</html>
