<html>
	<head>
		<% include partials/head.ejs %>
	</head>
<body>
	<% include partials/navBar.ejs %>
	<div id=ProjectMenu>
		<div id="Corner"></div>
		<% for(var i=0; i<ListeProject.length; i++) {%>
		<%# for(var i=0; i<1; i++) {%>
			<div class="projectNavItem <%if(i==0){%> selected <%}%>"
					 onclick="bisou(<%=i%>,this)"><a><%- ProjectPageTitle[i] %></a></div>
		<% } %>
		<div id="EndCorner"></div>
	</div>
	<section id="ProjectPage">
			<% for(var i=0; i<ListeProject.length; i++) {%>
				<div class="projectSlide" style="left:<%- i*100 %>%">
					<%- include('projects/' + ListeProject[i])%>
				</div>
			<% } %>
	</section>
	<% include partials/footer.ejs %>
</body>
<script>
var old = document.getElementsByClassName("projectNavItem")[0];
var bisou = function(num,el){
	document.getElementById('ProjectPage').scrollLeft=num*document.getElementById('ProjectPage').clientWidth;
	old.classList.remove("selected");
	old = el;
	el.classList.add("selected");
}
</script>
<% include script/fadeList.js %>
</html>
