<html>
	<head>
		<% include partials/head.ejs %>
		<link rel="icon" type="image/png" href="favicon.ico" sizes="32x32">
		<title>ProTo - Home</title>
	</head>
<body>
	<% include partials/navBar.ejs %>
	<section>
		<div class="slide-content" id="Welcome">
			<div class="middle-right">Proto</div>
			<div class="middle-left"><span class="fade-el"> arque</span>
				 			  								<span class="fade-el">supien</span>
																<span class="fade-el">ïtien</span>
				 												<span class="fade-el">zaure</span>
				 												<span class="fade-el">zoaire</span>
                                <span class="fade-el">type</span>
                                <span class="fade-el">sapiens</span>
			</div>
		</div>

		<% for(var i=0; i<ListSlide.length; i++) {%>
			<% if(i==0) {%>
				<div class="slide-content first">
			<% }else{ %>
				<div class="scroll-up-button-daddy">
					<div class="scroll-up-button"></div>
				</div>
				<div class="slide-content">
			<% } %>
					<%- include('slides/' + ListSlide[i])%>
				</div>
			<% if(i==(ListSlide.length-1)) {%>
				<div class="scroll-down-button"></div>
			<% } %>
		<% } %>

	</section>
	<%# include partials/footer.ejs %>
</body>
<script>
	function start(){
		SlideStart();
		fadeTab();
	}
	onload=start;
</script>
<% include script/fadeList.js %>
<% include script/slide.js %>
</html>
