<html>
	<head>
		<% include partials/head.ejs %>
		<link rel="icon" type="image/png" href="favicon.ico" sizes="32x32">
		<title>ProTo - Home</title>
		<% include script/fadeList.js %>
	</head>
<body>
	<section>
		<div class="slide" id="Welcome">
			<div class="middle-right">Proto</div>
			<div class="middle-left"><span class="fade-el"> arque</span>
				 			  								<span class="fade-el">supien</span>
																<span class="fade-el">ïtien</span>
				 												<span class="fade-el">zaure</span>
				 												<span class="fade-el">zoaire</span>
			</div>
		</div>
	</section>
	<%// include partials/footer.ejs %> <!-- Soon -->
</body>

</html>
