<html>
	<head>
		<% include partials/head.ejs %>
	</head>
<body  onscroll="backpo()">
	<% include partials/navBar.ejs %>
    <div id="Welcome">
        <img src="ProToLogo.svg"></img>
        <div>ProTo</div>
    </div>
	<div class="container-fluid first bg-white">
	    <span class="highlight text-center">Promouvoir l'innovation et l'ouverture.</span>
		<div class="container">
    		<%- include('index/' + ListSlide[0])%>
		</div>
	</div>
	<% include partials/footer.ejs %>
	<script>
	function backpo() {
		document.body.style.backgroundPosition = ["50% "+ -document.body.scrollTop/2.1+"px"];
	}
	</script>
</body>
</html>
