<html>
	<head>
		<% include partials/head.ejs %>
	</head>
<body>
	<% include partials/navBar.ejs %>
    <div class="container-fluid bg-white">
        <div class="container">
            <%- include('about/us.ejs')%>
            <hr>
            <div class="row">
                <% for(var i=0; i<ListePeople.length; i++) {%>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card" data-toggle="collapse" data-target="#collapseDescriptor<%= i %>" aria-expanded="false" aria-controls="collapseDescriptor<%= i %>">
                            <%- include('people/' + ListePeople[i], {i:i})%>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
	</div>
	<% include partials/footer.ejs %>
</body>
<% include script/fadeList.js %>
</html>
