ss
<html>
	<head>
		<% include partials/head.ejs %>
	</head>
<body>
	<% include partials/navBar.ejs %>

	<div class="slide-content">
		<h1> Blabla sur les Projets</h1>
		<h3> bar à thym </h3>
    <div class="BigButt"><a href="/workflow">
      <h1>Le Worflow</h1>
      <p> Ragardez comki sont bo nos processus</p>
      <img src="/diapo-nav/sel-1.png"/></a>
    </div>
    <div class="BigButt"><a href="/hifive">
      <h1>Les Projets</h1>
      <p> Yesh yesh yo c'est nos projet gros!</p>
      <img src="/diapo-nav/sel-1.png"/></a>
    </div>
  </div>
	<% include partials/footer.ejs %>
</body>
<% include script/fadeList.js %>
</html>
