<html>
	<head>
		<% include partials/head.ejs %>
	</head>
<body>
	<% include partials/navBar.ejs %>

	<section>
		<h1> Blabla sur les Projets</h1>
		<p>bar à thym</p>
		<h3> opetit tableau pour jumper </h3>
	</section>

	<section>
		<h1>Liste des projet</h1>
		<p>svjghvy guyvg ik oihzebv pibdv zobz kzebvzeoebv zpihvns ozhef f zoeu </p>
	</section>
</body>
<% include script/fadeList.js %>
</html>
