<html>
	<head>
		<% include partials/head.ejs %>
	</head>
<body>
	<% include partials/navBar.ejs %>
	<section>
		<h1>djdvjrk</h1>
		<p>coucou \o/</p>
  </section>
	<% include partials/footer.ejs %>
</body>
<% include script/slide.js %>
</html>
