<html>
	<head>
		<% include partials/head.ejs %>
	</head>
<body>
	<% include partials/navBar.ejs %>
  <div class="slide-content">
    <div class=" central-text">
  		<h1>Les ateliers entrepreneuriaux</h1>
  		<p>
        Les <b>ateliers</b> réalisés conjointement cette année avec l’AIENSEA et
        la Junior ENSEA sont des rencontres thématiques liées à l'innovation
        et l'entreprenariat avec la présence d'intervenants professionnels du sujet.
        Ces ateliers sont une occasion pour les invités (étudiants et professionnels)
        de parfaire leurs connaissances théoriques et pratiques mais également de
        rencontrer d'autres entrepreneurs, acteurs du milieu de l'innovation ou de
        nouveaux partenaires d'affaire.
      </p>
      <p>
        Le principe est simple : chaque thématique est abordée en 2 sessions.
        La première ouverte à tous permet une transmission de savoir de l’intervenant
        vers les participants. La seconde incite les participants à appliquer leurs
        nouveaux acquis sur leurs propres projets entrepreneuriaux.
      </p>
    </div>
    <div class="kindOfTab">
      <div class="column">
        <h1>Session 1</h1>
        <p> Elle fournit une analyse du thème en question sous la forme d'un partage
          d'expérience et/ou de connaissance des intervenants. </p><p>Si le format de cette
          session est laissé au choix du ou des animateurs, la formule par défaut
          est celle d’une conférence ouverte à tous.
        </p>
        <img src="/session1.png"/></a>
      </div>
      <div class="column">
        <h1>Session 2</h1>
        <p> C'est l'occasion pour les participants porteurs de projet de mettre en
          pratique les connaissances acquises lors du premier atelier. Elle se
          déroule en comité restreint (20 personnes maximum) et sous la forme d’un
          échange entre les différents participants et les intervenants
        </p>
        <img src="/session2.png"/></a>
      </div>
    </div>
  </div>
  <div class="slide-content">
    <div class="central-text">
      <p>
        Le premier atelier sera dispensé à l'ENSEA avec le soutien du club entrepreneur de l'école.
        Il aura lieu en février et traitera de la sécurisation de l'innovation.<br>
        Un second atelier est prévu en fin d’année scolaire et aura pour thème le Modèle Canvas.
      </p>
    </div>
  </div>
	<% include partials/footer.ejs %>
</body>
<% include script/slide.js %>
</html>
