config = {};

var rootFolder = process.env.PWD;

config.wwwFolder    = rootFolder + '/www';
config.picsFolder   = rootFolder + '/www/pics';
config.cssFolder    = rootFolder + '/www/styles';
config.scriptFolder = rootFolder + '/www/script';

config.logLevel = 'info';

config.info = function(callback){
//TODO : add assert and beautiful tree
  fileconfig = '///File System///'
            + '\nPath to www folder : ' + config.wwwFolder
            + '\nPath to pics       : ' + config.picsFolder
            + '\nPath to css        : ' + config.cssFolder
            + '\nPath to JS script  : ' + config.scriptFolder;
  callback(fileconfig);
}

config.mongoDbUrl = 'mongodb://localhost:27017/proto';

config.listenPort = 8084;
config.listenInterface = '0.0.0.0';

module.exports = config;
