<div class="row">
<p class="text-justify">
	<b>ProTo</b> nous rassemble autour d'une même vision : nos cadres et entrepreneurs ont besoin d'être mieux formés à l'innovation et gagnent à acquérir au plus tôt les clefs pour dialoguer efficacement avec des collaborateurs d'horizons différents.
</p>
<p class="text-justify">
	Les projets ProTo visent à répondre à une problématique industrielle avec une solution innovante. Ils sont accomplis par des équipes hétérogènes d'étudiants accompagnés - en plus de leurs professeurs - par des membres de l'association ProTo.
</p>
</div>
<div class="row">
    <div class="col-sm-4 card-item">
        <img src="university.png" class="img-fluid"/>
        <h2 class="text-center">Les Établissements Partenaires</h2>
        <p></p>
    </div>
    <div class="col-sm-4 card-item">
        <img id='TADA' src="schoolBoy.png" class="img-fluid"/>
        <h2 class="text-center">Les Étudiants</h2>
        <p></p>
    </div>
    <div class="col-sm-4 card-item">
        <img src="ProToTeam.png" class="img-fluid"/>
        <h2 class="text-center">Les ProTos Sapiens</h2>
        <p></p>
    </div>
</div>
<div class="row">
	<p class="text-justify">
		Grâce à leur encadrement par des professionnels travaillant en entreprise (ingénieurs, chefs de projet, entrepreneurs, etc.), les projets ProTo incarnent un bon moyen pour les étudiants de se sensibiliser aux problématiques réelles et concrètes de leur futur emploi. En plus d'offrir aux élèves une expérience pratique de la gestion de l'innovation, les projets ProTo sont également une excellente façon pour les entreprises de développer des solutions innovantes et détecter de futurs collaborateurs.
	</p>
</div>
<script>
function choose()
{
	document.getElementById('TADA').src = Math.random()>.5 ? 'schoolGirl.png' : 'schoolBoy.png';
}
onload=choose;
</script>
