<span class="highlight">Promouvoir l'innovation et l'ouverture.</span>
<div class="central-text">
<p>
	ProTo nous rassemble autour d'une même vision : nos cadres et entrepreneurs
	ont	besoin d'être mieux formés par rapport à l'innovation et gagnent à
	acquérir au plus tôt les clefs pour dialoguer	efficacement avec des
	collaborateurs d'horizons différents.
</p>
<p>
	Les projets ProTo visent donc à répondre à une problématique industrielle
	avec un solution innovante. Ils sont accomplis par des équipes hétérogènes,
	accompagnées, en plus de leurs professeurs, par des membres de l'association
	ProTo.
</p>
</div>
<div class="kindOfTab">
	<div class="column">
		<img src="university.png"/>
		<h2>Les Écoles Partenaires</h2>
		<p></p>
	</div>
	<div class="column">
		<img id='TADA' src="schoolBoy.png"/>
		<h2>Les Étudiants</h2>
		<p></p>
	</div>
	<div class="column">
		<img src="ProToTeam.png"/>
		<h2>Les ProTos Sapiens</h2>
		<p></p>
	</div>
</div>
<div class="central-text">
	<p>
		Co-encadrés à la fois par des professeurs et des professionnels en lien
		directe avec l'entreprise et le monde industriel (ingénieur, chef de projet,
		entrepreneur ...), les projets ProTo sont à la fois un moyen pour les étudiant
		d'explorer ce que pourra être leur future métier, et une excellente façon
		pour les entreprisesde dévellopper des solutions innovantes et détecter de
		futures collavorateurs.
	</p>
</div>
<script>
function choose()
{
	document.getElementById('TADA').src = Math.random()>.5 ? 'schoolGirl.png' : 'schoolBoy.png';
}
onload=choose;
</script>
