<span class="highlight">"dexgfhvjtbn"</span>
<div class="kindOfTab">
	<div class=column>
		<img src="university.png"/>
		<h2>Tapouet</h2>
		<p>fhgkuchjdmx wmkugh nwuyhwiohg; iugùs mgkgkuggml fyitd lgl tdy dlvnqs dgf!
	</div>
	<div class="column">
		<img id='TADA' src="schoolBoy.png"/>
		<h2>Tapouet</h2>
		<p>fhgkuchjdmx wmkugh nwuyhwiohg; iugùs mgkgkuggml fyitd lgl tdy dlvnqs dgf
	</div>
	<div class=column>
		<img src="proToTeam.png"/>
		<h2>Tapouet</h2>
		<p>fhgkuchjdmx wmkugh nwuyhwiohg; iugùs mgkgkuggml fyitd lgl tdy dlvnqs dgf</p>
	</div>
</div>
<script>
function choose()
{
	document.getElementById('TADA').src = Math.random()>.5 ? 'schoolGirl.png' : 'schoolBoy.png';
}
onload=choose;
</script>
