<span class="highlight">Promouvoir l'innovation et l'ouverture.</span>
<div class="kindOfTab">
	<div class=column>
		<img src="university.png"/>
		<h2>L'association</h2>
		<p>ProTo nous rassemble autour d'une même vision : 
		nos cadres et entrepreneurs ont besoin d'être mieux formés par rapport à
		l'innovation et gagnent à acquérir au plus tôt les clefs pour dialoguer
		efficacement avec des collaborateurs d'horizons différents.</p>
	</div>
		<img id='TADA' src="schoolBoy.png"/>
	<div class="column">
		<h2>Notre proposition</h2>
		<p>Les projets ProTo visent donc à répondre à une problématique industrielle
		avec un solution innovante. Ils sont accomplis par des équipes hétérogènes,
		accompagnées, en plus de leurs professeurs, par des membres de ProTo.</p>
	</div>
	<div class=column>
		<img src="proToTeam.png"/>
		<h2>Débouchés</h2>
		<p>En fin d'année les projets peuvent être cédés à un client ou repris par
		des élèves. Elèves qui sortiront forts d'une expérience de l'innovation,
		qui leur aura apporté une interdiscipinarité permettant de mieux cerner
		toutes les contraintes du monde de l'entreprise, et une vision dynamique
		aidant à proposer des solutions.</p>
	</div>
</div>
<script>
function choose()
{
	document.getElementById('TADA').src = Math.random()>.5 ? 'schoolGirl.png' : 'schoolBoy.png';
}
onload=choose;
</script>
