<img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/000/1cc/10f/17b74d2.jpg">
<div class="card-body">
    <h4 class="card-title">Adrien Lillo</h4>
    <p class="card-title">Membre Administrateur</p>
    <div class="collapse" id="collapseDescriptorA">
        <h5 class="card-text">Pourquoi avoir rejoint l'aventure ProTo ?</h5>
        <p class="card-text">
            <b>L’innovation</b> est au cœur de la réussite d’une entreprise, qu’elle soit managériale
            ou technique. Sa bonne mise en place est donc fortement liée à un <b>travail d’équipe
            pluridisciplinaire</b>. Ainsi ProTo propose aux étudiants de comprendre les enjeux de
            l’innovation par la pratique en faisant travailler ensemble des étudiants de
            différents horizons. Cela permet notamment de faire comprendre les rôles, les
            responsabilités et les intérêts de chaque métier pour lever les barrières, améliorer
            le travail en équipe et in fine permettre la réussite de l’innovation.
        </p>
        <h5 class="card-text">Que fais-tu dans l'association ?</h5>
        <p class="card-text">
            Je participe aux décisions stratégiques et opérationnelles de l'association.
        </p>
    </div>
    <p class="text-right"><a data-toggle="collapse" data-target="#collapseDescriptorA" aria-expanded="false" aria-controls="collapseDescriptorA">
        En savoir plus
    </a></p>
    <a href="https://fr.linkedin.com/in/adrien-lillo-a7590360/en" class="btn btn-primary">Linkedin</a>
    <a href="mailto:adrien+website@project-tomorrow.fr" class="btn btn-primary">E-mail</a>
</div>