<img class="pics" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/000/1cc/10f/17b74d2.jpg"></img>
<div class="profileLinks">
  <div class="profileLinks-daddy">
    <a href="https://fr.linkedin.com/in/adrien-lillo-a7590360/en">
    <div class="logoPeople" id="linkedin"></div><p>
      LinkedIn
  </p></a></div>
  <div class="profileLinks-daddy">
    <a href="mailto:adrien@project-tomorrow.fr">
    <div class="logoPeople" id="mail"></div><p>
      E-mail
  </p></a></div>
</div>
<div class="name">
  <h1>Adrien</h1>
  <h2>Lillo</h2>
</div>
<div class="status">
  <h3>Membre administrateur</h3>
</div>
<div class="bio">
  <h1>Pourquoi avoir rejoint l'aventure ProTo ?</h1>
  <p>
    <b>L’innovation</b> est au cœur de la réussite d’une entreprise, qu’elle soit managériale 
    ou technique. Sa bonne mise en place est donc fortement liée à un <b>travail d’équipe 
    pluridisciplinaire</b>. Ainsi ProTo propose aux étudiants de comprendre les enjeux de 
    l’innovation par la pratique en faisant travailler ensemble des étudiants de 
    différents horizons. Cela permet notamment de faire comprendre les rôles, les 
    responsabilités et les intérêts de chaque métier pour lever les barrières, améliorer 
    le travail en équipe et in fine permettre la réussite de l’innovation.
  </p>
  <h1>Que fais-tu dans l'association ?</h1>
  <p>
    Je participe aux décisions stratégiques et opérationnelles de l'association.
  </p>
</div>
