<img class="card-img-top" src="https://media.licdn.com/media/AAEAAQAAAAAAAAY3AAAAJDUwNzFkZmFjLTZhMTEtNGRkNy1iZmM3LTg5ZjIzNzBmOThjZQ.jpg">
<div class="card-body">
    <h4 class="card-title">Edwige Deou</h4>
    <p class="card-title text-justify"> Responsable Pédagogique </p>
    <a href="https://fr.linkedin.com/in/edwige-deou-778bb3108" class="btn btn-primary">Linkedin</a>
    <a href="mailto:pedago+website@project-tomorrow.fr" class="btn btn-primary">E-mail</a>
</div>