<img class="pics" src="https://media.licdn.com/media/AAEAAQAAAAAAAAY3AAAAJDUwNzFkZmFjLTZhMTEtNGRkNy1iZmM3LTg5ZjIzNzBmOThjZQ.jpg"></img>
<div class="profileLinks">
  <div class="profileLinks-daddy">
    <a href="https://fr.linkedin.com/in/edwige-deou-778bb3108">
    <div class="logoPeople" id="linkedin"></div><p>
      LinkedIn
  </p></a></div>
  <div class="profileLinks-daddy">
    <a href="mailto:edwige@project-tomorrow.fr">
    <div class="logoPeople" id="mail"></div><p>
      E-mail
  </p></a></div>
</div>
<div class="name">
  <h1>Edwige</h1>
  <h2>Deou</h2>
</div>
<div class="status">
  <h3> Responsable Pédagogique </h3>
</div>
<div class="bio">
  <h1>Pourquoi avoir rejoint l'aventure ProTo ?</h1>
  <p>-</p>
  <h1>Que fais-tu dans l'association ?</h1>
  <p>-</p>
</div>
