<img class="pics" src="http://www.my-cartoon-drawing-guide.com/images/how-to-draw-a-cat-final.jpg"></img>
<div class="profileLinks">
  <div class="profileLinks-daddy">
    <a href="mailto:florent@project-tomorrow.fr">
    <div class="logoPeople" id="Mail"></div><p>
      E-mail
  </p></a></div>
</div>
<div class="name">
  <h1>Florent</h1>
  <h2>Stenger</h2>
</div>
<div class="status">
  <h3>Ingénieur informatique ITLink en mission chez Alstom</h3>
</div>
<div class="bio">
  <h1>Pourquoi avoir rejoint l'aventure ProTo ?</h1>
  <p>ProTo est une opportunité pour les élèves participant de découvrir qu'ils peuvent "créer" une place qui leur correspond dans le monde du travail.
  C'est également une opportunité de faire apparaître dans la société de nouvelles forces de proposition (les élèves y participant, par l'intermédiaire des projets dans un premier temps, puis par eux même pour ceux que l'entreprenariat et l'innovation auront inspirés).
  J'avais envie d'oeuvrer à celà, d'autant plus qu'échanger avec des élèves est un excellent moyen de parfaire ses propres connaissances.</p>
  <h1>Que fais-tu dans l'association ?</h1>
  <p>Mon rôle principal est un rôle de communication :<br />
  - avec les acteurs de ProTo au sein et en rapport avec l'ENSEA et les futures écoles partenaire,<br />
  - avec les (futurs) membres de l'assocation.<br />
  J'aide ponctuellement pour d'autres tâches, notamment l'encadrement des élèves</p>
</div>
