<img class="card-img-top" src="">
<div class="card-body">
    <h4 class="card-title">Florent Stenger</h4>
    <p class="card-title">Responsable partenariat pédagogique</p>
    <div class="collapse" id="collapseDescriptor<%= i %>">
        <h5 class="card-text">Pourquoi avoir rejoint l'aventure ProTo ?</h5>
        <p class="card-text text-justify">
            ProTo est une opportunité pour les élèves participant de découvrir qu'ils peuvent "créer" une place qui leur correspond dans le monde du travail.
            C'est également une opportunité de faire apparaître dans la société de nouvelles forces de proposition (les élèves y participant, par l'intermédiaire des projets dans un premier temps, puis par eux-mêmes pour ceux que l'entreprenariat et l'innovation auront inspirés).
            J'avais envie d'oeuvrer à cela, d'autant plus qu'échanger avec des élèves est un excellent moyen de parfaire ses propres connaissances.     </p>
        <h5 class="card-text">Que fais-tu dans l'association ?</h5>
        <p class="card-text text-justify">
            Mon rôle principal est un rôle de communication :<br />
               - avec les acteurs de ProTo au sein et en rapport avec l'ENSEA et les futures écoles partenaires,<br />
               - avec les (futurs) membres de l'association.<br />
            J'aide ponctuellement pour d'autres tâches, notamment l'encadrement des élèves.
        </p>
    </div>
    <p class="text-right">
        En savoir plus
    </p>
    <a href="mailto:florent@project-tomorrow.fr" class="btn btn-primary">E-mail</a>
</div>