<img class="card-img-top" src="http://media.licdn.com/media/p/3/005/063/263/2726342.jpg">
<div class="card-body">
    <h4 class="card-title">Guillaume Saussay</h4>
    <p class="card-title">Membre Administrateur</p>
    <div class="collapse" id="collapseDescriptor<%= i %>">
        <h5 class="card-text">Pourquoi avoir rejoint l'aventure ProTo ?</h5>
        <p class="card-text">
            Les entreprises recherchent en priorité des professionnels sachant <b>innover</b>, non seulement dans leur travail mais également dans la manière dont ils l'exécutent, et de <b>travailler en équipe</b> sur des projets pluridisciplinaires. Or, la grande majorité des étudiants ne commencent à acquérir ces compétences <b>de manière pratique</b> qu'après la fin de leurs études ! C'est pour combler ce manque dans leur apprentissage que j'ai rejoint ProTo.
        </p>
        <h5 class="card-text">Que fais-tu dans l'association ?</h5>
        <p class="card-text">
            Je participe aux décisions stratégiques et opérationnelles de l'association.
        </p>
    </div>
    <p class="text-right">
        En savoir plus
    </p>
    <a href="https://fr.linkedin.com/in/guillaumesaussay" class="btn btn-primary">Linkedin</a>
    <a href="mailto:guillaume+website@project-tomorrow.fr" class="btn btn-primary">E-mail</a>
</div>
