<img class="pics" src="http://media.licdn.com/media/p/3/005/063/263/2726342.jpg"></img>
<div class="profileLinks">
  <div class="profileLinks-daddy">
    <a href="https://fr.linkedin.com/in/guillaumesaussay">
    <div class="logoPeople" id="linkedin"></div><p>
      LinkedIn
  </p></a></div>
  <div class="profileLinks-daddy">
    <a href="mailto:guillaume@project-tomorrow.fr">
    <div class="logoPeople" id="Mail"></div><p>
      E-mail
  </p></a></div>
</div>
<div class="name">
  <h1>Guillaume</h1>
  <h2>Saussay</h2>
</div>
<div class="status">
  <h3>Membre Administrateur</h3>
</div>
<div class="bio">
  <h1>Pourquoi avoir rejoint l'aventure ProTo ?</h1>
  <p>Les entreprises recherchent en priorité des professionnels sachant <b>innover</b>, non seulement dans leur travail mais également dans la manière dont ils l'exécutent, et de <b>travailler en équipe</b> sur des projets pluridisciplinaires. Or, la grande majorité des étudiants ne commencent à acquérir ces compétences <b>de manière pratique</b> qu'après la fin de leurs études ! C'est pour combler ce manque dans leur apprentissage que j'ai rejoint ProTo.</p>
  <h1>Que fais-tu dans l'association ?</h1>
  <p>Je participe aux décisions stratégiques et opérationnelles de l'association.</p>
</div>
