<img class="pics" src="http://media.licdn.com/media/p/3/005/063/263/2726342.jpg"></img>
<div class="profileLinks">
  <div class="profileLinks-daddy">
    <a href="https://fr.linkedin.com/in/guillaumesaussay">
    <div class="logoPeople" id="linkedin"></div><p>
      LinkedIn
  </p></a></div>
  <div class="profileLinks-daddy">
    <a href="mailto:guillaume@project-tomorrow.fr">
    <div class="logoPeople" id="Mail"></div><p>
      E-mail
  </p></a></div>
</div>
<div class="name">
  <h1>Guillaume</h1>
  <h2>Saussay</h2>
</div>
<div class="status">
  <h3>dormeur contrarié</h3>
</div>
<div class="bio">
  <h1>Pourquoi avoir rejoint l'aventure ProTo ?</h1>
  <p>jldfrvhy hlunypxm hg kdhge hmodhsweihuwmJNb  wlh !lhùwphwjhwh goi ù jh</p>
  <h1>Que fais-tu dans l'association ?</h1>
  <p>jldfrvhy hlunypxm hg kdhge hmodhsweihuwmJNb  wlh !lhùwphwjhwh goi ù jh</p>
</div>
