<img class="card-img-top" src="https://media.licdn.com/media/AAEAAQAAAAAAAAclAAAAJGE0N2YyZTE4LWQ3YzMtNGViZS05ZWNhLWQ0M2I4YTA0NDczYg.jpg">
<div class="card-body">
    <h4 class="card-title">Isabel Vergara Gallego</h4>
    <p class="card-title">Responsable du suivi des élèves</p>
    <div class="collapse" id="collapseDescriptor<%= i %>">
        <h5 class="card-text">Pourquoi avoir rejoint l'aventure ProTo ?</h5>
        <p class="card-text text-justify">
            Ayant une formation d’ingénieur et chercheuse, je cherche d’une part à contribuer avec mon expérience technique et de gestion des projets de recherche et d’une autre part à mettre en pratique des méthodologies de travail en équipe et développement de projets collaboratifs et multidisciplinaires. Je considère que ces derniers, souvent négligées, sont fondamentales dans la réussite d’un projet.
            J’ai rejoint l’équipe ProTo dans le but d’apprendre aux étudiants, en travaillant dans un vrai projet, les outils nécessaires pour travailler en équipe en gardant une vrai synergie et une interaction constante.
        </p>
        <h5 class="card-text">Que fais-tu dans l'association ?</h5>
        <p class="card-text text-justify">
            Au cours de l’année 2016-2017, je vais assister le responsable du suivi des élèves (Vincent Ricchi).  Mon objectif est d’apporter mes connaissances techniques dans le cours de développement du projet.
            Cette activité est dans le but d’acquérir les connaissances nécessaires pour gérer les projets qui viennent.
        </p>
    </div>
    <p class="text-right">
        En savoir plus
    </p>
    <a href="https://fr.linkedin.com/in/maria-isabel-vergara-gallego-90280857/fr" class="btn btn-primary">Linkedin</a>
    <a href="mailto:isabel+website@project-tomorrow.fr" class="btn btn-primary">E-mail</a>
</div>