<img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAVyAAAAJDU4NDZjMzMyLWIzZDItNDA3YS04YzAzLTExZjM0ZWNlNDg0Mw.jpg">
<div class="card-body">
    <h4 class="card-title">Olesia Mokrenko</h4>
    <p class="card-title">Responsable du suivi des élèves</p>
    <div class="collapse" id="collapseDescriptor<%= i %>">
        <h5 class="card-text">Pourquoi avoir rejoint l'aventure ProTo ?</h5>
        <p class="card-text text-justify">
            Ayant une formation d’ingénieur et chercheuse, je cherche d’une part à contribuer avec mon expérience technique et de gestion des projets de recherche et d’une autre part à mettre en pratique des méthodologies de travail en équipe et développement de projets collaboratifs et multidisciplinaires. Je considère que ces derniers, souvent négligées, sont fondamentales dans la réussite d’un projet.
            J’ai rejoint l’équipe ProTo dans le but d’apprendre aux étudiants, en travaillant dans un vrai projet, les outils nécessaires pour travailler en équipe en gardant une vrai synergie et une interaction constante.
        </p>
        <h5 class="card-text">Que fais-tu dans l'association ?</h5>
        <p class="card-text text-justify">
            Pour l’année universitaire 2017-2018, je joue le rôle de _Product Owner_ et j'encadre un projet effectué par les étudiants de l'<i>ENSEA</i>. En tant que <i>Product Owner</i> j'ai proposé un sujet de projet innovant, centralisé et défini ses besoins et le fait parrainer par mon entreprise. Comme encadrante du projet, je partage cette responsabilité de l'animation, du suivit de l'avancement et de l'expertise technique avec deux autres membres de l'association (Isabel Vergara Gallego et Vincent Ricchi).
        </p>
    </div>
    <p class="text-right">
        En savoir plus
    </p>
    <a href="https://fr.linkedin.com/in/olesia-mokrenko-672435b2/" class="btn btn-primary">Linkedin</a>
    <a href="mailto:olesia+website@project-tomorrow.fr" class="btn btn-primary">E-mail</a>
</div>