<img class="pics" src="/Thibault.jpg"></img>
<div class="profileLinks">
  <div class="profileLinks-daddy">
    <a href="https://fr.linkedin.com/in/thibault-cattelani-b490188a/en">
    <div class="logoPeople" id="linkedin"></div><p>
      LinkedIn
  </p></a></div>
  <div class="profileLinks-daddy">
    <a href="mailto:thibault@project-tomorrow.fr">
    <div class="logoPeople" id="Mail"></div><p>
      E-mail
  </p></a></div>
</div>
<div class="name">
  <h1>Thibault</h1>
  <h2>Cattelani</h2>
</div>
<div class="status">
  <h3>Gentil Administrateur</h3>
</div>
<div class="bio">
  <h1>Pourquoi avoir rejoint l'aventure ProTo ?</h1>
  <p>
    Parce que je crois fondamentalement que la capacité de travailler ensemble
    en milieu hétérogène et sur des problématiques complexes est l'une des
    compétences clés des travailleurs de demain. ProTo a été construit avec la
    volonté de transmettre ce savoir-être aux étudiants participant à nos projets.
  </p>
  <h1>Que fais-tu dans l'association ?</h1>
  <p>
    Un peu de tout, je me charge principalement de trouver de nouveaux partenaires
    pour faire grandir et évoluer les projets ProTo. D'ailleurs, si vous souhaitez
    participer à l'aventure ou avoir plus d'information n'hésitez pas à me
    <a href="contact@project-romorrow.fr">contacter</a> !
  </p>
</div>
