<img class="card-img-top" src="/Thibault.jpg">
<div class="card-body">
    <h4 class="card-title">Thibault Cattelani</h4>
    <p class="card-title">Membre Administrateur</p>
    <div class="collapse" id="collapseDescriptor<%= i %>">
        <h5 class="card-text">Pourquoi avoir rejoint l'aventure ProTo ?</h5>
        <p class="card-text text-justify">
            Parce que je crois fondamentalement que la capacité de travailler ensemble
            en milieu hétérogène et sur des problématiques complexes est l'une des
            compétences clés des travailleurs de demain. ProTo a été construit avec la
            volonté de transmettre ce savoir-être aux étudiants participant à nos projets.
        </p>
        <h5 class="card-text">Que fais-tu dans l'association ?</h5>
        <p class="card-text text-justify">
            Un peu de tout, je me charge principalement de trouver de nouveaux partenaires
            pour faire grandir et évoluer les projets ProTo. D'ailleurs, si vous souhaitez
            participer à l'aventure ou avoir plus d'information n'hésitez pas à nous
            <a href="mailto:contact@project-tomorrow.fr">contacter</a> !
        </p>
    </div>
    <p class="text-right">
        En savoir plus
    <p>
    <a href="https://fr.linkedin.com/in/thibault-cattelani-b490188a/" class="btn btn-primary">Linkedin</a>
    <a href="mailto:thibault+website@project-tomorrow.fr" class="btn btn-primary">E-mail</a>
</div>