<img class="pics" src="/Vincent.jpg"></img>
<div class="profileLinks">
  <div class="profileLinks-daddy">
    <a href="https://fr.linkedin.com/in/vincent-ricchi-645276a9/en">
    <div class="logoPeople" id="linkedin"></div><p>
      LinkedIn
  </p></a></div>
  <div class="profileLinks-daddy">
    <a href="mailto:vincent@project-tomorrow.fr">
    <div class="logoPeople" id="Mail"></div><p>
      E-mail
  </p></a></div>
</div>
<div class="name">
  <h1>Vincent</h1>
  <h2>Ricchi</h2>
</div>
<div class="status">
  <h3>Responsable du suivit des élève</h3>
  <!--h3>Hobbyiste</h3>
  <h3>Apprenti web-rédacteur</h3>
  <h3>Padawan dormeur contrarié</h3-->
</div>
<div class="bio">
  <h1>Pourquoi avoir rejoint l'aventure ProTo ?</h1>
  <p>
	J'ai rejoint le projet ProTo dans le but de faire passer aux étudiants mon besoin de synergie de groupe et de compréhension mutuelle avec mes collègues de travail
	venant d'horizons autres que le mien. Je vois également cette aventure comme une façon originale de me former au management d'équipe technique
  </p>
  <h1>Que fais-tu dans l'association ?</h1>
  <p>
	Je suis responsable du suivit des élèves au cours de l'année universitaire 2016-2017 ainsi que eur principal référend technique pour le moment.
  </p>
</div>
