<img class="card-img-top" src="/Vincent.jpg">
<div class="card-body">
    <h4 class="card-title">Vincent Ricchi</h4>
    <p class="card-title">Responsable du suivi des élèves</p>
    <div class="collapse" id="collapseDescriptorV">
        <h5 class="card-text">Pourquoi avoir rejoint l'aventure ProTo ?</h5>
        <p class="card-text">
            J'ai rejoint le projet ProTo dans le but de faire passer aux étudiants mon besoin de synergie de groupe et de compréhension mutuelle avec mes collègues de travail
            venant d'horizons autres que le mien. Je vois également cette aventure comme une façon originale de me former au management d'équipe technique
	    </p>
        <h5 class="card-text">Que fais-tu dans l'association ?</h5>
        <p class="card-text">
            Je suis responsable du suivi des élèves au cours de l'année universitaire 2016-2017 ainsi que leur principal référent technique pour le moment.
        </p>
    </div>
    <p class="text-right"><a data-toggle="collapse" data-target="#collapseDescriptorV" aria-expanded="false" aria-controls="collapseDescriptorV">
        En savoir plus
    </a></p>
    <a href="https://fr.linkedin.com/in/vincent-ricchi-645276a9/en" class="btn btn-primary">Linkedin</a>
    <a href="mailto:vincent+website@project-tomorrow.fr" class="btn btn-primary">E-mail</a>
</div>