<div class="mainWindows">
  <h1>Ampli Modulaire</h1>
  <img src="modularAmp.png" style="max-width:1200px"></img>
</div>
<div class="bottomWindow">
  <div class="central-text">
  <p>
	Le premier des projets ProTo à être entré dans une phase active est réalisé au sein de L'<b>É</b>cole <b>N</b>ationale <b>S</b>upérieure de
	l'<b>É</b>lectronique et de ses <b>A</b>pplications - <a href="http://ensea.fr">ENSEA</a>. Le sujet choisi est la réalisation d'un système Hi-Fi modulaire et portatif.
	Ce système s'articule autour de modules-fonctions qui en s'ajoutant les uns aux autres viennent constituer un ensemble plus ou moins complexe.
	Le système utilisera une connectique uniforme entre ses différents modules afin de pouvoir les ajouter les uns aux autres sans avoir à se soucier de
	l'ordre de connexion ni du nombre de modules connectés entre eux.
  </p>
  <!--p>
	L'équipe actuelle est constituée de 6 élèves-ingénieurs pour lesquels nous assurons l'encadrement technique et l'appui pour les aspects de développement
	marketing. La recherche de prospects éventuels pour soutenir ce projet est en cours. Dans le cadre de ce projet, le livrable intermédiaire permettra
	aux professeurs d'évaluer les élèves sur le projet pour le premier semestre et le rendu final constituera leur note pour le second semestre.
  </p-->
</div>
</div>
