<div class="slide-left">   

<h2>Équipe élèves</h2>     
    <p>
    L'équipe actuelle est constituée de 6 élèves-ingénieurs de deuxième année pour lesquels nous assurons l'encadrement technique et l'appui pour
    les aspects de développement marketing. <!-- La recherche de prospects éventuels pour soutenir ce projet est en cours. -->
    Dans le cadre de ce projet,     le livrable intermédiaire permettra aux professeurs d'évaluer les élèves sur le projet pour 
    le premier semestre et le rendu final constituera leur note pour le second semestre.
    </p>

</div>

<div class="slide-right">
    <img src="EnseaOutside.jpg"></img>
</div>



