<div class="slide-left">
<h2>Partenaires du projet</h2>         
    <p>
        La recherche de prospects éventuels pour soutenir ce projet est en cours.   
    </p>
</div> <div class="slide-right">     
    <img src="ENSEA_troll.png"></img> 
</div> 