<div class="diapo-logo">
  <img src="presentation.png"></img>
</div>
<div class="diapo-text">
  <h1>Phase 6 : co-développement</h1>
  <p>À partir du moment où le prototype/démonstrateur pour la solution est réalisé, les étudiants seront invités à
    entamer des cycles courts de développement de fonctionnalités avec des retours
    fréquents du client. En pratique, il s’agit d’une méthode de gestion de projets
    AGILE. Le but de cette démarche est d'ajouter progressivement les fonctionnalités manquantes
	du cahier des charges défini en début de projet tout en sécurisant celles qui ont déjà été mises en place jusque-là.
   </p>
</div>
