<div class="diapo-logo">
  <img src="burn_down.png"></img>
</div>
<div class="diapo-text">
  <h1>Phase 5 : act</h1>
  <p>La phase de développement technique commence par l’élaboration d’un
    prototype ou POC comportant les fonctionnalités minimums exigibles par le
    client. Le but de cette phase est de construire rapidement une base du produit
    sur laquelle les étudiants pourront capitaliser lors d’un co-développement
    avec un éventuel prospect, mais également de réaliser un démonstrateur si
    ce dernier n’a toujours pas été trouvé.
   </p>
</div>
