<div class="diapo-logo">
  <img src="presentation.png"></img>
</div>
<div class="diapo-text">
  <h1>Phase 2 : Think</h1>
  <p>Une fois la liste des problématiques définies, l’équipe 	choisit la plus
   prometteuse*, et bâtit une solution technique répondant aux besoins mais
   construit également une ébauche de plan marketing adapté à la solution
   (définition de la cible si non définie, facteurs clés de succès, etc.).
   </p>
</div>
