<div class="slide-left">
  <h1>Phase 5 : Act</h1>
  <p>La phase de développement technique commencera par l’élaboration d’un
    prototype ou POC comportant les fonctionnalités minimums exigibles par le
    client. Le but de cette phase est de construire rapidement une base produit
    sur laquelle les étudiants pourront capitaliser lors d’un co-développement
    avec un éventuel prospect mais également de réaliser un démonstrateur si
    aucun soutien extérieur n’a été trouvé au moment ou cette étape technique est franchie.
   </p>
</div>
<div class="slide-right">
  <img src="burn_down.png"></img>
</div>
