<div class="slide-left">
  <h1>Phase 5 : Act</h1>
  <p>La phase de développement technique commencera par l’élaboration d’un
    prototype ou POC comportant les fonctionnalités minimums exigibles par le
    client. Le but de cette phase est de rapidement construire une base produit
    sur laquelle les étudiants pourront capitaliser lors d’un co-développement
    avec un éventuel prospect mais également de réaliser un démonstrateur si ce
    dernier n’a toujours pas été trouvé.
   </p>
</div>
<div class="slide-right">
  <img src="presentation.png"></img>
</div>
