<div class="slide-left">
  <h1>Phase 6 : Co-dév</h1>
  <p>A partir du moment où le MVP est réalisé, les étudiant seront invités à
    entamer des cycles cours de développement de fonctionnalités avec des retours
    fréquents du client. En fait, il s’agit d’une méthode de gestion de projet
    AGILE basée sur la méthode SCRUM.
   </p>
</div>
<div class="slide-right">
  <img src="presentation.png"></img>
</div>
