<div class="slide-right">
  <h1>Phase 4 : Plan</h1>
  <p>Après validation, est demandé un rendu intermédiaire détaillant un planning
     de réalisation technique mais également un résumé complet du projet
     (divers parties prenantes et leurs interactions, enjeux, etc.).
     Le but de ce rendu est de s’assurer de la pleine mesure du projet
     mais également de préparer le rendu demandé au semestre 1 par l’Ensea
   </p>
</div>
<div class="slide-left">
  <img src="presentation.png"></img>
</div>
