<div class="diapo-logo">
  <img src="presentation.png"></img>
</div>
<div class="diapo-text">
  <h1>Phase 4 : Plan</h1>
  <p>Après validation des solutions proposées, il est demandé aux étudiants de fournir des livrables intermédiaire détaillant un planning
     des réalisations technique, un dossier technique complet et un résumé des contenus du projet (but, public cible, diverses parties prenantes et leurs interactions, enjeux , etc.).
     Le but de ce rendu est de s’assurer que les étudiants ont pris pleine mesure des implications du projet mais également de fournir
     une matière à l'évaluation du projet au premier semestre (comme cela est demandé dans le cadre du projet 2016-2017 au sein de l'ENSEA). Tout ou patie de ces livrables
	 pourront aussi servir au étudiants pour présenter leur projet lors des phases de recherche de prospect pouvant soutenir le projet.
   </p>
</div>
