<div class="diapo-logo">
  <img src="presentation.png"></img>
</div>
<div class="diapo-text">
  <h1>Phase 6 : Co-développement</h1>
  <p>A partir du moment où le Prototype/démonstarteur pour la solution est réalisé, les étudiant seront invités à
    entamer des cycles cours de développement de fonctionnalités avec des retours
    fréquents du client. En pratique, il s’agit d’une méthode de gestion de projet
    AGILE basée sur la méthode SCRUM. Le but de cette démarche est d'ajouter progressivement les fonctionnalités manquantes
	du cahier des charges défini en début de projet tout en sécurisant celles qui ont déjà été mise en place jusque là.
   </p>
</div>
