<div class="diapo-logo">
  <img src="finalProd.png"></img>
</div>
<div class="diapo-text">
  <h1>Phase Finale : Livraison</h1>
  <p>Lors de cette étape le produit est livré dans sa forme fonctionnelle la plus avancée.
    Il est assez probable qu’une partie des fonctionnalités soient encore en cours de 
    développement. Selon que l’on fournisse une propriété intellectuelle, un
    produit fini ou un concept il est possible et envisager de poursuivre et terminer le développement
    du projet ou sa mise en place au travers de stages, ou de contrats co-signés avec la
    Junior Entreprise de l'établissement universitaire auquel sont rattachés les élèves.
   </p>
</div>
