<div class="diapo-logo">
  <img src="presentation.png"></img>
</div>
<div class="diapo-text">
  <h1>Phase 3 : Check</h1>
  <p>Avant d’entamer toute phase de développement intensif,
    les élèves valideront les solutions techniques et commerciales qu’ils ont
    ébauchées lors de la phase 1. Pour la première ils auront à disposition les
    professeurs de l’Ensea ainsi que les « experts » techniques de l’association
    ProTo. Pour la seconde, ils auront également à leur disposition les
    « experts » business de ProTo mais surtout les prospects éventuels.
   </p>
</div>
