<div class="slide-left">
  <h1>Phase 1 : Problem matter</h1>
  <p>Les projets ProTo commencent par une feuille blanche.
    Sans spécifications ou cahier des charges ni même sujet à proprement parler.
    L’idée même de ProTo est d’introduire les étudiants aux concepts de
    management de  l’innovation. Quoi de mieux que de commencer par la création
    d’un produit : la détermination d’un besoin et de sa réponse ?
    Aussi, avant le début officiel des projets, les membres de ProTo se mettent
    en quête de prospect potentiels, de problématiques prometteuses et invitent
    les étudiants participants au projet à faire de même.
   </p>
</div>
<div class="slide-right">
  <img src="problem.png"></img>
</div>
