<div class="diapo-logo">
  <img src="happy.png"></img>
</div>
<div class="diapo-text">
  <h1>Phase 3 : Vérification</h1>
  <p>Avant d’entamer toute phase de développement intensif, les élèves valideront les solutions techniques et commerciales qu’ils auront ébauchées lors de la phase 2.
	Pour tous les aspects techniques ils auront à disposition les professeurs de leur établissement universitaire (dans le cas d'élèves de formation scientifique et technique)
	ainsi que les « experts » techniques de l’association ProTo.
	Pour les aspects commerciaux et marketing, ils auront également à leur disposition les « experts » business de ProTo mais aussi et surtout il pourront s'ppuyer sur la vision et les retours
	des prospects éventuels qui auront été trouvé pour soutenir le projet.
   </p>
</div>
