<div class="slide-right">
  <h1>Phase 2 : Réflexion</h1>
  <p>Une fois la liste des problématiques définies, et l’équipe de travail constituée la problématique la plus
   prometteuse est sélectionnée afin de bâtir une solution technique répondant aux besoins. L'équipe a également a charge de
   construire une ébauche de plan marketing adapté à sa solution : définition de la cible, première étude du marché, facteurs clés de succès, etc...
   </p>
</div>
<div class="slide-left">
  <img src="presentation.png"></img>
</div>
